<div id="editWindow"
     data-role="window"
     data-visible="false"
     data-modal="true"
     data-min-width="500"
     data-width="600"
     data-min-height="200"
     data-height="200"
     style="display:none;">

    <div id="editDiv">
        <form class="form-horizontal" data-role="validator">
            <div class="form-group">
                <label for="holiday" class="col-sm-4 control-label required">Holiday</label>
                <div class="col-sm-3">
                    <input name="holiday" type="text"
                           data-role="datepicker"
                           data-bind="value: model.holiday"
                           class="form-control input-sm tohankaku "
                           style="width:100px;" />
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-4 control-label">Description</label>
                <div class="col-sm-9">
                    <input name="description" type="text" data-bind="value: model.description" maxlength="30"
                           class="form-control input-sm k-input k-textbox " />
                </div>
            </div>

            <div class="form-group">
                <label for="st_flag" class="col-sm-4 control-label">ST Flag</label>
                <div class="col-sm-2">
                    <input name="st_flag" type="checkbox" data-bind="checked: model.st_flag" />
                </div>
            </div>

            @* Saveボタン、Closeボタン *@
            <div class="buttons">
                <input id="btnEditSave" type="button" value="Save" data-bind="click:onSave" class="btn btn-primary btn-save" />
                <input id="btnEditClose" type="button" value="Close" data-bind="click: onClose" class="btn btn-default btn-close" />
            </div>
        </form>
    </div>

</div> @* End of editWindow *@

