@section head {
    <link href="@Url.Content("~/Content/cxlpolicy.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = Lang.L("キャンセル規定", "Cancellation Policy");
}

<div class="itemBlockIndex">
    @if (Lang.isJPN()) {
        <h1><span>キャンセル規定</span></h1>
        <div class="cwpInnr02 clearfix">
            <!-- ContentMainArea ============= -->
            <div id="ContentMainArea">
                <!-- EtPrvArea ====== -->
                <div id="EtPrvArea" style="padding-top:20px;">
                    <h3><span class="num">1.</span><b>ウェディング/フォトプラン キャンセル規定</b></h3>
                    <!-- # -->
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colB" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td colspan="2">【バリ島】</td>
                        </tr>
                        <tr></tr>
                        <!-- ## -->
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>撮影日の前日から起算して30日目～16日目にあたる日：フォトプラン料金の20％</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>撮影日の前日から起算して15日目～3日目にあたる日：フォトプラン料金の50%</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>撮影日の前日から起算して2日前～当日及び無連絡不参加：フォトプラン料金の100%</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td class="lastItem" colspan="2">【アメリカ】ベラジオホテル,ロサンゼルス,ニューヨーク</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>フォトプラン申込時～撮影日の前日から起算して31日目にあたる日：フォトプラン料金の50％</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>撮影日の前日から起算して30日目～当日及び無連絡不参加：フォトプラン料金の100%</td>
                        </tr>
                        <tr>
                            <th>(3)</th>
                            <td class="lastItem" colspan="2">【上記以外のエリア】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>撮影日の前日から起算して15日目～3日目にあたる日：フォトプラン料金の50%</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>撮影日の前日から起算して2日前～当日及び無連絡不参加：フォトプラン料金の100%</td>
                        </tr>
                    </table>
                    <!-- /# -->
                    <!-- /indent -->
                    <h3>2.<b>オプション キャンセル規定</b></h3>
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colB" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td colspan="2">【バリ島】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>ご利用の前日から起算して15日目～8日目にあたる日：オプション代金の50％</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>ご利用日の７日目～当日：オプション代金の100％</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td colspan="2">【アメリカ】ロサンゼルス,ニューヨーク</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>ご利用日の前日から起算して30日目～16日目にあたる日：オプション代金の50%</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>ご利用日の前日から起算して15日目～当日：オプション代金の100%</td>
                        </tr>
                        <tr>
                            <th>(3)</th>
                            <td colspan="2">【上記以外のエリア】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>ご利用日の前日から起算して8日目～3日目にあたる日：オプション代金の50%</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>ご利用日の前日から起算して2日前～当日：オプション代金の100%</td>
                        </tr>
                        <!-- /## -->
                    </table>
                    <!-- /indent -->
                </div>
            </div>
        </div>
    } else {
        <h1><span>CANCELLATION POLICY</span></h1>
        <div class="cwpInnr02 clearfix">
            <!-- ContentMainArea ============= -->
            <div id="ContentMainArea">
                <!-- EtPrvArea ====== -->
                <div id="EtPrvArea" style="padding-top:20px;">
                    <h3><span class="num">1.</span><b>Wedding/Photo Plan Cancellation Policy</b></h3>
                    <!-- # -->
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colB" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td colspan="2">[Bali]</td>
                        </tr>
                        <tr></tr>
                        <!-- ## -->
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>20% of photo plan package fee will be charged if cancelled 30 to 16 days prior to the reserved date.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>50% of photo plan package fee will be charged if cancelled 15 to 3 days prior to the reserved date.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>100% of wedding package fee will be charged if cancelled from 2 days to the reserved date, or if no contact is made on the day of the actual reserved date.</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td class="lastItem" colspan="2">[America] Bellagio Hotel, Los Angeles, New York</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>50% of photo plan package fee will be charged if cancelled 31 days or earlier, prior to the reserved date.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>100% of wedding package fee will be charged if cancelled within 30 days to the reserved date, or if no contact is made on the day of the actual reserved date.</td>
                        </tr>
                        <tr>
                            <th>(3)</th>
                            <td class="lastItem" colspan="2">[All Other Locations]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>50% of photo plan package fee will be charged if cancelled 15 to 3 days prior to the reserved date.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>100% of wedding package fee will be charged if cancelled from 2 days to the reserved date, or if no contact is made on the day of the actual reserved date.</td>
                        </tr>
                    </table>
                    <!-- /# -->
                    <!-- /indent -->
                    <h3>2.<b>Option Cancellation Policy</b></h3>
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colB" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td colspan="2">[Bali]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>15 days before ~ 8 days before: 50% of Option Fees</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>7 days before ~ on the day: 100% of Option Fees</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td colspan="2">[America] Los Angeles, New York</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>30 days before ~ 16 days before: 50% of Option Fees</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>15 days before ~ on the day: 100% of Option Fees</td>
                        </tr>
                        <tr>
                            <th>(3)</th>
                            <td colspan="2">[All Other Locations]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>8 days before ~ 3 days before: 50% of Option Fees</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>2 days before ~ on the day: 100% of Option Fees</td>
                        </tr>
                        <!-- /## -->
                    </table>
                    <!-- /indent -->
                </div>
            </div>
        </div>
    }
</div>
