@section head {
    <link href="@Url.Content("~/Content/data.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = Lang.L("会社概要", "Abount our company");
}

<div class="itemBlockIndex">
    <h2><img alt="会社概要" src="@Url.Content("~/Content/img/ttl_data.gif")" width="690" height="43" /></h2>
    <div class="cwpInnr02 clearfix">
        <!-- ContentMainArea ============= -->
        <div id="ContentMainArea">
            <p style="text-align:right;padding-top:20px;">（2014年09月30日現在）</p>
            <!-- companyData ============= -->
            <table class="companyData">
                <colgroup>
                    <col class="colA" style="width:200px;" />
                    <col class="colB" style="width:400px;" />
                    <col class="colC" style="width:200px;" />
                </colgroup>
                <!--kit<tbody>
                <tr class="rowSeparator">
                <td colspan="3">&nbsp;</td>
                </tr>kit-->
                <tr>
                    <th>
                        <p>商号</p>
                    </th>
                    <td colspan="2">
                        <p>
                            ワタベウェディング株式会社<br />
                            （英文呼称）WATABE WEDDING CORPORATION
                        </p>
                    </td>
                </tr>
                <!--kit<tr class="rowSeparator">
                <td colspan="3">&nbsp;</td>
                </tr>kit-->
                <tr>
                    <th>
                        <p>本社</p>
                    </th>
                    <td>
                        <p>
                            〒600-8540<br />
                            京都市下京区烏丸通仏光寺上る二帖半敷町671番地<br />
                            ※京都市営地下鉄四条駅　６番出口あがってすぐ
                        </p>
                    </td>
                    <!--kit<td class="btn">
                    <p><a href="http://services.navitime.biz/lite/20131011/MV.do?s=488744359.125993481&amp;n=jpJ0kS*SABv2ny02jsDKSPT2douLxaNsACwgnXsHhH2uZ2JAadzhEEZQixJP51A-&amp;a=ihaSEMol*ZrY6wfjWa04*j-tGpKrWIwlqqV7em5fFuf7c5Py5djUMqsS8T3qgt0UGsN8wDtO17XpieFyrcSZCA..&amp;f" target="_blank"><img alt="地図はこちらから" src="/library/images/company/data_btn_map.png" width="111" height="21" /></a></p>
                    </td>kit-->
                </tr>
                <!--kit<tr class="rowSeparator">
                <td colspan="3">&nbsp;</td>
                </tr>kit-->
                <tr>
                    <th>
                        <p>東京オフィス</p>
                    </th>
                    <td>
                        <p>
                            〒103-0028<br />
                            東京都中央区八重洲1-7-20　八重洲口会館7階<br />
                            ※JR東京駅八重洲北口より徒歩3分
                        </p>
                    </td>
                    <!--kit<td class="btn">
                    <p><a href="http://lite.navitime.biz/20131011/Map.do?enc=Shift_JIS&amp;datum=1&amp;unit=0&amp;lon=%2B139.46.23.53&amp;lat=%2B35.40.40.48&amp;nam=%83%8F%83%5E%83%78%83%45%83%46%83%66%83%42%83%93%83%4F%8A%94%8E%AE%89%EF%8E%D0%93%8C%8B%9E%83%49%83%74%83%42%83%58&amp;addr=%93%8C%8B%9E%93%73%92%86%89%9B%8B%E6%94%AA%8F%64%8F%461%92%9A%96%DA7-20%81%40%94%AA%8F%64%8F%46%8C%FB%89%EF%8A%D9%82%56F&amp;back=http%3A%2F%2Fwww.watabe-wedding.co.jp%2Fcorporate%2Fcompany%2Fdata%2F" target="_blank"><img alt="地図はこちらから" src="/library/images/company/data_btn_map.png" width="111" height="21" /></a></p>
                    </td>kit-->
                </tr>
                <tr>
                    <th>
                        <p>設立年月日</p>
                    </th>
                    <td colspan="2">
                        <p>昭和39年（1964年）10月3日</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>資本金</p>
                    </th>
                    <td colspan="2">
                        <p>41億7,637万2,000円</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>従業員数</p>
                    </th>
                    <td>
                        <p>
                            （単体）457名　（連結）2,114名<br />
                            ※契約社員は含まれておりません
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>決算期</p>
                    </th>
                    <td colspan="2">
                        <p>3月31日（年1回）</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>主な事業内容</p>
                    </th>
                    <td colspan="2">
                        <ul>
                            <li>【1】海外挙式サービス事業及び挙式参加者を対象とした旅行事業</li>
                            <li>【2】挙式施設運営などの国内挙式サービス事業</li>
                            <li>【3】ウェディングドレスなどの製造販売事業</li>
                            <li>【4】婚礼関連衣裳、成人式、各種パーティーなどのフォーマル衣裳のレンタル事業</li>
                            <li>【5】衣裳に美容・着付・写真撮影をセットした衣裳と写真の総合サービス事業</li>
                            <li>【6】国内での結婚式場相談、結婚式のプロデュースや披露宴の企画演出、家具、寝具から宝石貴金属等婚礼用品の斡旋などの挙式関連サービス事業</li>
                        </ul>
                    </td>
                </tr>
                <tr class="rowSeparator">
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
        <!-- /companyData ============= -->
    </div>
    <!-- /ContentMainArea ============= -->
    <!-- /cwpInnr02 -->
</div>

