@section head {
    <link href="@Url.Content("~/Content/precaution.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = Lang.L("ご注意事項", "PRECAUTIONARY STATEMENT");
}
<div class="itemBlockIndex">
    @if (Lang.isJPN()) {
        <h1><span>ご注意事項</span></h1>
        <div class="cwpInnr02 clearfix">
            <!-- ContentMainArea ============= -->
            <div id="ContentMainArea">
                <!-- EtPrvArea ====== -->
                <div id="EtPrvArea" style="padding-top:20px;">
                    <h3><span class="num">1.</span><b>フォトプラン注意事項</b></h3>
                    <!-- # -->
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colB" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td colspan="2">【共通】</td>
                        </tr>
                        <tr></tr>
                        <!-- ## -->
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>撮影場所は天候の状況により変更される場合があります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>天候などの事情により撮影ができない場合、当社の判断にて撮影日の変更または中止を行う場合があります。中止の場合は代金は全額返金いたします。なお、お客様のご事情によるキャンセルはキャンセル料が発生いたします。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>基本内容のドレス・タキシードについて、ご利用の上限額を超えた場合は追加代金が発生いたしますので差額分は現地レンタルの場合は現地、ワタベウェディングドレスサロンでの事前試着の場合は衣裳試着店舗にてお支払いください。限度額未満の衣裳をご利用の場合でも差額返金はいたしかねます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>サイズオーダードレス・サイズオーダータキシードはご利用いただけません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>含まれる小物のアップグレードは別途追加料金にて承ります。ストッキング・靴下・下着などの販売品は含まれません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>写真撮影は原則としてフォトグラファーの裁量による撮影となります。撮影場所はご指定いただけません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>幼児（6歳以下）だけでのご同行は不可となります。弊社スタッフがベビーシッターをする事はできません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>h.</th>
                            <td>ビーチ、屋外、ホテル内での撮影に際して、状況により一般人で混雑する場合もございます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>i.</th>
                            <td>美容商品に関して、ヘアセット・メイクなどお客様のご要望は、サービス施術中担当スタッフにお申付け願います。サービス終了後のご指摘に関しては、責任を負いかねる場合がございます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>j.</th>
                            <td>海外の各地域ではチップの習慣がございます。各種のサービスを受けた際、そのサービスにご満足いただけた場合にお渡しいただければ幸いです。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>k.</th>
                            <td>原則として、カップル様以外のご同行はお受けしておりません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>l.</th>
                            <td>プランに含まれる送迎はカップル専用となります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>m.</th>
                            <td>当社指定外の外部業者による撮影中のビデオ・写真撮影はできません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>n.</th>
                            <td>追加アルバムをお申込みの場合、プランに含まれる撮影データと同一のカットが含まれます。</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td class="lastItem" colspan="2">【ハワイ】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>オアフ島の場合、衣裳合わせは撮影当日に行い、パッケージに含まれる新婦様ヘアセット＆メイクは衣裳合わせ後、ご宿泊ホテルにて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>レンタル衣裳はお泊りのホテルのベルデスクに当日中にご返却ください。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>現地での追加代金お支払いの際は現金（USドル）、クレジットカード（VISA・MASTER・JCB）でお支払いいただけます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>現地支払いの際には、別途税金（オアフ島：4.712％、ハワイ島：4.166％）がかかります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>撮影データ・スモールアルバム・追加アルバムのお届けには撮影後約30日かかります。</td>
                        </tr>
                        <tr>
                            <th>(3)</th>
                            <td class="lastItem" colspan="2">【グアム・サイパン】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>衣裳合わせは撮影当日に行い、パッケージに含まれる新婦様ヘアセット＆メイクは衣裳合わせ後、現地店舗にて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>レンタル衣裳はお泊りのホテルのベルデスクに当日中にご返却ください。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>現地での追加代金お支払いの際は現金（USドル）、クレジットカード（VISA・MASTER・JCB）でお支払いいただけます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>こだわりプランに含まれる撮影データ・スモールアルバム・追加アルバムのお届けには撮影後約30日かかります。</td>
                        </tr>
                        <tr>
                            <th>(4)</th>
                            <td class="lastItem" colspan="2">【オーストラリア】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>衣裳合わせは撮影当日に行い、パッケージに含まれる新婦様ヘアセット＆メイクは衣裳合わせ後、現地店舗にて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>現地での追加代金お支払いの際は現金（豪ドル）、クレジットカード（VISA・MASTER・JCB・AMEX）でお支払いいただけます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>撮影データ・スモールアルバム・追加アルバムのお届けには撮影後約30日かかります。</td>
                        </tr>
                        <tr>
                            <th>(5)</th>
                            <td class="lastItem" colspan="2">【タヒチ】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>タヒチ島の場合、衣裳合わせは撮影当日に行い、パッケージに含まれる新婦様ヘアセット＆メイクは衣裳合わせ後、ご宿泊ホテルまたは美容サロンにて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>ボラボラ島のフォトプランはタヒチ島にございますワタベウェディングタヒチ店に立ち寄りレンタル衣裳の受け取りが可能なスケジュールのお客様が対象となります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>ワタベウェディング　タヒチ店での所要時間は約2時間～2時間30分となり、パペーテ到着後のボラボラへの乗継時間が4時間以上必要となります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>レンタルされたお衣裳及び小物は、ご自身にてボラボラ島へお持ち頂きます。国内線の預け荷物はお二人40㎏までとなりますので、ご自身のお荷物は30㎏程度に纏めて頂くことをお勧めいたします。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>レンタルされた衣裳及び小物は、撮影後、介添えが回収いたします。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>ボラボラ島限定カヌー撮影は、天候により乗船出来ない場合もございますが撮影はカヌー周辺で行います。その場合ご返金は出来かねますので予めご了承ください。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>オプションのアップグレード生花ブーケ及びヘッドピースのアレンジは、撮影日が現地祝祭日にあたる場合はお受けいたしかねます。予めご了承ください。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>h.</th>
                            <td>現地での追加代金お支払いの際は現金（パシフィックフラン）、クレジットカード（VISA・MASTER・AMEX）でお支払いいただけます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>i.</th>
                            <td>撮影データ・スモールアルバム・追加アルバムのお届けには撮影後約40日かかります。</td>
                        </tr>
                        <tr>
                            <th>(6)</th>
                            <td class="lastItem" colspan="2">【ラスベガス】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>衣裳合わせは撮影当日に行い、パッケージに含まれる新婦様ヘアセット＆メイクは衣裳合わせ後、ラスベガス店にて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>現地での追加代金お支払いの際は現金（USドル）、クレジットカード（VISA・MASTER・JCB）でお支払いいただけます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>撮影データー・スモールアルバム・追加アルバムのお届けには撮影後約30日かかります。</td>
                        </tr>
                        <tr>
                            <th>(7)</th>
                            <td class="lastItem" colspan="2">【パリ(Paris)・フィレンツェ】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>衣裳合わせは撮影当日に行い、パッケージに含まれる新婦様ヘアセット＆メイクは衣裳合わせ後、現地店舗にて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>パッケージに含まれる送迎はカップル専用となります。送迎車にはカメラマン・アテンドスタッフが同乗する場合がございます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>お子様（12歳以下）だけでのご同行は不可となります。弊社スタッフがベビーシッターをする事はできません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>現地での追加代金お支払いの際は現金（ユーロ）、クレジットカード（VISA・MASTER・JCB・パリのみAMEX）でお支払いいただけます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>撮影データ・スモールアルバム・追加アルバムのお届けには撮影後約40日かかります。</td>
                        </tr>
                        <tr>
                            <th>(8)</th>
                            <td class="lastItem" colspan="2">【バリ(Bali)】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>衣裳合わせは撮影当日に行い、パッケージに含まれる新婦様ヘアセット＆メイクは衣裳合わせ後、バリ店にて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>現地での追加代金お支払いの際は現金（円・ルピア・USドル）、クレジットカード（VISA・MASTER・JCB）でお支払いいただけます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>撮影データ・スモールアルバム・追加アルバムのお届けには撮影後約30日かかります。※基本プランに含まれる撮影データは挙式翌々日以後ご宿泊ホテルへお届けとなります。</td>
                        </tr>
                        <tr>
                            <th>(9)</th>
                            <td class="lastItem" colspan="2">【沖縄】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>表示記載金額には8％の消費税を含んでいます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>衣裳合わせは現地到着日に行い、パッケージに含まれる新婦様ヘアセット＆メイクは撮影日に、現地サロン・または店舗にて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>撮影データ・スモールアルバム・追加アルバムのお届けには撮影後約30日かかります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>お子様（6歳未満）だけでのご同行は不可となります。弊社スタッフがベビーシッターをする事はできません。同行者がいらっしゃらない場合はベビーシッターサービスをお申込ください。ベビーシッターをご利用いただく場合、申込み店舗にて同意書の記入が必要になります。お子様が2名の場合は、安全上、ベビーシッター2名をお申込みください。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>読谷村・石垣島ビーチサイドフォトプランには、プラン内の「撮影場所までの往復送迎」は含まれません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>撮影場所のご指定はいただけません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>天候等の事情によりビーチでの撮影ができない場合、ご滞在期間での撮影日時変更または屋内での撮影となります。</td>
                        </tr>
                        <tr>
                            <th>(10)</th>
                            <td class="lastItem" colspan="2">【北海道】</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>表示記載金額には8％の消費税を含んでいます。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>現地レンタル衣裳の場合、原則衣裳合わせは撮影当日　に行いますが、スケジュールによって前日になる場合があります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>パッケージに含まれる新婦様ヘアセット＆メイクは、チャペル内サロンにて行います。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>撮影データ・スモールアルバム・追加アルバムのお届けには撮影後約30日かかります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>生花ブーケへのアップグレードをご希望で花材指定をされる場合は別途お見積もりが必要となります。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>ご列席者様及び当社指定外の外部業者による撮影中のビデオ・写真撮影はできません。</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>打ち合わせ・衣裳選び・オプショナル商品のお渡しなどのご来店時、送迎サービスはございません。</td>
                        </tr>
                    </table>
                    <!-- /# -->
                </div>
            </div>
        </div>
    } else {
        <h1><span>PRECAUTIONARY STATEMENT</span></h1>
        <div class="cwpInnr02 clearfix">
            <!-- ContentMainArea ============= -->
            <div id="ContentMainArea">
                <!-- EtPrvArea ====== -->
                <div id="EtPrvArea" style="padding-top:20px;">
                    <h3><span class="num">1.</span><b>Photo Plan Precautionary Statement</b></h3>
                    <!-- # -->
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colB" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td colspan="2">[General]</td>
                        </tr>
                        <tr></tr>
                        <!-- ## -->
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>Shooting locations may be modified due to weather issues.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>Shootings may be cancelled or dates may be modified at the discretion of our company, due to weather issues, or other various reasons. In the event of a cancellation, a refund will be issued for those services. However, in the event of a cancellation made by the customer, there will be a Cancellation Fee.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>Regarding the inclusive basic dress and tuxedo, if the cost of the chosen dress/tuxedo exceeds the value included in the plan, the customer is responsible for the difference in price. If the customer is renting them at the local salon, they must submit their payment there. If the customer has had a fitting at a Watabe Wedding Dress Salon, they must submit their payment there. However, if the cost of the chosen dress/tuxedo is below the value included in the plan, a refund will not be applicable.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>Custom-sized dresses/tuxedoes are not available.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>For an upgrade of the included accessories, additional fees will apply. Retailed products (stockings, socks, undergarments, etc.) are not included in the plan. </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>All shooting of footage is completely at the discretion of our photographers. Photo Shoot location cannot be designated.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>Children 6 years or younger, may not be accompanied unescorted. Our staff is prohibited to babysit.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>h.</th>
                            <td>For shootings in hotels, beaches, and parks, there may be conditions where it is largely crowded with people.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>i.</th>
                            <td>Please notify the assigned stylist of any requests, during the beauty service. We are not responsible for any requests after the service is done.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>j.</th>
                            <td>It is customary to give a monetary tip (to the Stylist, Photographer, Videographer, Driver), if you felt the service was satisfactory or better.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>k.</th>
                            <td>By regulation, guests are not allowed to attend the Photo Plan with the couple.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>l.</th>
                            <td>The transportation included in the plan is only for the couple.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>m.</th>
                            <td>Our company strictly prohibits the use of any undesignated external contractors for photography or video recording.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>n.</th>
                            <td>Additional albums will be created in the same form as the initial order album.</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td class="lastItem" colspan="2">[Hawaii]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>For Oahu, the fitting will be conducted on the day of the photo shoot, and the Bride's hair/make-up will be conducted after, at the hotel room.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>Please return all rental garments to the Bell Desk of your hotel, by that same day.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>If payments will be done locally, the following payment methods are acceptable: Cash (U.S. Dollar), or Credit Card (VISA, Mastercard, JCB).</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>Local Sales Tax will be added (Oahu: 4.712%, Hawaii (Big Island): 4.166%).</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 30 days after photo shoot date.</td>
                        </tr>
                        <tr>
                            <th>(3)</th>
                            <td class="lastItem" colspan="2">[Guam/Saipan]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>The fitting will be conducted on the day of the photo shoot, and the Bride's hair/make-up will be conducted after, at the local salon branch.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>Please return all rental garments to the Bell Desk of your hotel, by that same day.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>If payments will be done locally, the following payment methods are acceptable: Cash (U.S. Dollar), or Credit Card (VISA, Mastercard, JCB).</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 30 days after photo shoot date.</td>
                        </tr>
                        <tr>
                            <th>(4)</th>
                            <td class="lastItem" colspan="2">[Australia]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>The fitting will be conducted on the day of the photo shoot, and the Bride's hair/make-up will be conducted after, at the local salon branch. </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>If payments will be done locally, the following payment methods are acceptable: Cash (AUS Dollar), or Credit Card (VISA, Mastercard, JCB, American Express).</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 30 days after photo shoot date.</td>
                        </tr>
                        <tr>
                            <th>(5)</th>
                            <td class="lastItem" colspan="2">[Tahiti]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>For Tahiti, the fitting will be conducted on the day of the photo shoot, and the Bride's hair/make-up will be conducted after, at the hotel room or the local salon.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>The Bora Bora Photo Plan is subjected only to customers who are able to visit the Watabe Wedding Tahiti Branch Store, and pick up their rental garments.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>The required time duration at the Watabe Wedding Tahiti Branch Store is approximately 2-2.5 hours, and the transit time from Pape'ete to Bora Bora will be over 4 hours.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>All rental garments and accesssories must be personally carried to Bora Bora. The luggage weight limit for domestic flights is 40kg (approx. 88 lbs.) for 2 people, so we recommend that you should limit your own luggage to approximately 30kg (approx. 66 lbs). </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>All rental garments and accessories will be collected by the assistant, after the photo shoot is completed.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>For the Bora Bora Exclusive canoe photo shoot, boarding the canoe may not be permitted due to weather issues, but the photo shoot will be conducted around the canoe area. If this should occur, please be advised that a refund will not be applicable. </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>Please be advised that if the photo shoot date should fall on a local holiday, we will not be able to accept any upgrade orders for fresh flower bouquets and/or headpiece arrangements.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>h.</th>
                            <td>If payments will be done locally, the following payment methods are acceptable: Cash (French Pacific Francs), or Credit Card (VISA, Mastercard, American Express). </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>i.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 40 days after photo shoot date.</td>
                        </tr>
                        <tr>
                            <th>(6)</th>
                            <td class="lastItem" colspan="2">[Las Vegas]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>The fitting will be conducted on the day of the photo shoot, and the Bride's hair/make-up will be conducted after, at the Las Vegas Branch Store.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>If payments will be done locally, the following payment methods are acceptable: Cash (U.S. Dollar), or Credit Card (VISA, Mastercard, JCB).</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 30 days after photo shoot date. </td>
                        </tr>
                        <tr>
                            <th>(7)</th>
                            <td class="lastItem" colspan="2"> [Paris/Firenze(Florence)]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>The fitting will be conducted on the day of the photo shoot, and the Bride's hair/make-up will be conducted after, at the local salon branch.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>The transportation included in the plan is only for the couple. At times, the photographer and/or the attending staff may ride in the same vehicle.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>Children 12 years or younger, may not be accompanied unescorted. Our staff is prohibited to babysit.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>If payments will be done locally, the following payment methods are acceptable: Cash (Euro), or Credit Card (VISA, Mastercard, JCB, Paris only: American Express).</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 40 days after photo shoot date.</td>
                        </tr>
                        <tr>
                            <th>(8)</th>
                            <td class="lastItem" colspan="2">[Bali]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>The fitting will be conducted on the day of the photo shoot, and the Bride's hair/make-up will be conducted after, at the Bali Branch Store.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>If payments will be done locally, the following payment methods are acceptable: Cash (Japanese Yen, Indonesian Rupiah, U.S. Dollar), or Credit Card (VISA, Mastercard, JCB).</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 30 days after photo shoot date. *The Photo Data included in the Basic Plan will be delivered to the hotel 2 days after the photo shoot date. </td>
                        </tr>
                        <tr>
                            <th>(9)</th>
                            <td class="lastItem" colspan="2">[Okinawa]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>The 8% Sales Tax is included in the price shown.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>The fitting will be conducted on your arrival day, and the Bride's hair/make-up will be conducted on the day of the photo shoot, at the local salon or the local store.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 30 days after photo shoot date. </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>Children 6 years or younger, may not be accompanied unescorted. Our staff is prohibited to babysit. Please order the Babysitter Service, if you do not have any guests attending. When the Babysitter Service is ordered, you must complete a Consent Form. If there are 2 children, please order 2 babysitters for safety purposes.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>Round-trip transportation to and from the photo shoot location is not included for the Yomitan Village/Ishigakishima Island Beachside Photo Plan.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>Photo Shoot location cannot be designated.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>Beach shooting locations may be modified (such as, indoors, etc.) due to weather issues, or other various reasons.</td>
                        </tr>
                        <tr>
                            <th>(10)</th>
                            <td class="lastItem" colspan="2">[Hokkaido]</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>The 8% Sales Tax is included in the price shown. </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>If garments are rented locally, by regulation the fitting is conducted on the day of the photo shoot, but there may be times it will be conducted on the day before.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>The Bride's hair/make-up will be conducted at the chapel salon.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>Photo Data and Albums (including Additional Albums) will be delivered approximately 30 days after photo shoot date.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>If special floral materials are requested for the fresh bouquet upgrade, a separate estimate is necessary.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>All unauthorized photographers/videographers (including filmings by guests) are strictly prohibited.</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>Transportation Service for briefing, outfit selection, or handing out of optional items, is not available.</td>
                        </tr>
                    </table>
                    <!-- /# -->
                </div>
            </div>
        </div>
    }
</div>

