@section head {
    <link href="@Url.Content("~/Content/privacy.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = Lang.L("プライバシーポリシー", "Privacy Policy");
}
<div class="itemBlockIndex">
    <h1><span>プライバシーポリシー</span></h1>
    <h2><span class="num">1.</span>個人情報保護に関する基本方針</h2>
    <p>ワタベウェディング株式会社（以下、「当社」といいます。）では、個人情報保護の重要性を認識し、以下の基本方針に基づき、当社が保有する個人情報の適正な管理と保護に努めます。</p>
    <table class="listOrd01">
        <colgroup>
            <col class="colA" style="width:20px;" />
            <col class="colC" />
        </colgroup>
        <tr>
            <th>(1)</th>
            <td>当社は個人情報の保護に関する法令、本プライバシーポリシーを遵守いたします。</td>
        </tr>
        <tr>
            <th>(2)</th>
            <td>当社は、個人情報保護のために、必要な方針、社内規程を定め、当社の従業員に周知徹底させ、取扱いを改善してまいります。</td>
        </tr>
        <tr>
            <th>(3)</th>
            <td>当社は、個人情報の漏洩、紛失、改ざんを防止するための、必要かつ合理的な安全対策を定め、これらを実行してまいります。</td>
        </tr>
        <tr>
            <th>(4)</th>
            <td>
                当社は、個人情報の取得にあたりましては、適法かつ公正な手段によって行い、不正な方法によっては取得いたしません。<br />
                また、個人情報をいただく場合には利用目的等について同意いただくか、もしくは通知、公表いたします。
            </td>
        </tr>
        <tr>
            <th>(5)</th>
            <td>当社は、個人情報について開示、訂正、利用停止等のお申し出をいただいた場合には、誠実に対応させていただきます。</td>
        </tr>
        <tr>
            <th>(6)</th>
            <td class="lastItem">当社は、ご本人の同意を得ず個人情報を業務の委託先、提携先以外の第三者に提供いたしません。第三者との間で共同利用する場合や業務を委託するために個人情報を第三者に預託する場合には、個人情報保護に関する取り決めを行い個人情報保護に万全を期すよう努めます。</td>
        </tr>
    </table>
    <div class="separator01">
        <h2><span class="num">2.</span>個人情報取扱事業者の名称</h2>
        <p class="lastItem">ワタベウェディング株式会社</p>
    </div>
    <div class="separator01">
        <h2><span class="num">3.</span>個人情報の取得</h2>
        <p class="lastItem">当社は当社の製品・サービスを提供（新商品の提供・アフターサービスを含みます。）させていただくに伴い、事業遂行上必要となる個人情報を取得します。 また、収集にあたっては個人情報の保護に関する法律、その他法令に照らし適正な方法で行うこととします。 なお、取得にあたり、直接書面に記入（インターネット上のWEBサイトの画面等を含みます。）いただき個人情報を取得する場合にはその都度、利用目的を明示します。</p>
    </div>
    <h2><span class="num">4.</span>個人情報の利用目的</h2>
    <h3><span class="num">(1)</span>お客様の個人情報</h3>
    <table class="listOrd01">
        <colgroup>
            <col class="colA" style="width:20px;" />
            <col class="colB" style="width:20px;" />
            <col class="colC" />
        </colgroup>
        <tr>
            <th>①</th>
            <td class="nest" colspan="2">
                <p>ご契約いただきました内容の履行と、下記の主たる事業(取引先、関係会社等、および委託先、提携先含みます。)に付随するサービス（新商品の提供・アフターサービスを含みます。）をご提供するために必要な範囲内で利用させていただきます。</p>
            </td>
        </tr>
        <tr>
            <th></th>
            <th>a.</th>
            <td>海外挙式サービス事業及び挙式参加者を対象とした旅行事業</td>
        </tr>
        <tr>
            <th></th>
            <th>b.</th>
            <td>挙式施設運営などの国内挙式サービス事業</td>
        </tr>
        <tr>
            <th></th>
            <th>c.</th>
            <td>ウェディングドレスなどの製造販売事業</td>
        </tr>
        <tr>
            <th></th>
            <th>d.</th>
            <td>婚礼関連衣裳、成人式、各種パーティなどのフォーマル衣裳のレンタル事業</td>
        </tr>
        <tr>
            <th></th>
            <th>e.</th>
            <td>衣裳に美容・着付・写真撮影をセットした衣裳と写真の総合サービス事業</td>
        </tr>
        <tr>
            <th></th>
            <th>f.</th>
            <td>国内での結婚式場相談、結婚式のプロデュースや披露宴の企画演出、家具、寝具から宝石貴金属等婚礼用品の斡旋などの挙式関連サービス事業</td>
        </tr>
        <tr>
            <th></th>
            <th>g.</th>
            <td class="lastItem">ホテル事業および飲食店事業</td>
        </tr>
        <tr>
            <th>②</th>
            <td class="lastItem" colspan="2">当社の事業活動に付随するマーケティング活動および市場動向等の分析に、お客様の個人情報を利用させていただきます。</td>
        </tr>
    </table>
    <!-- /indent -->
    <h3><span class="num">(2)</span>.株主様の個人情報</h3>
    <p>下記の事項を目的として株主様の個人情報を利用させていただきます。</p>
    <table class="listOrd01">
        <colgroup>
            <col class="colA" style="width:20px;" />
            <col class="colC" />
        </colgroup>
        <tr>
            <th>①</th>
            <td>会社法に基づく権利の行使、義務の履行</td>
        </tr>
        <tr>
            <th>②</th>
            <td>当社から株主様へ当社の主たる事業及びこれに付随するサービスを提供するため</td>
        </tr>
        <tr>
            <th>③</th>
            <td class="lastItem">上記の目的に付帯する業務</td>
        </tr>
    </table>
    <div class="separator01">
        <h2><span class="num">5.</span>個人情報の共同利用</h2>
        <p>当社は4.に記載の目的の範囲内で、個人情報やサービスに関する情報の必要な項目について当社の関係会社および委託先、提携先の間で共同利用させていただくことがあります。当社の関係会社および委託先、提携先との間で共同利用する場合、または委託先へ提供する場合については、第三者提供には該当いたしません。</p>
        <dl class="annotation01 nearNext">
            <dt>※</dt>
            <dd>当社関係会社の名称につきましては、当社ホームページにてご確認ください。</dd>
        </dl>
        <div class="indent">
            <!-- # -->
            <p class="link01"><a href="/watabe/company/network.html">http://www.watabe-wedding.co.jp/watabe/company/network.html</a></p>
            <!-- /# -->
        </div>
        <!-- /indent -->
        <p class="lastItem">当該個人情報の管理については、ワタベウェディング株式会社が責任を有するものとします。</p>
    </div>
    <h2><span class="num">6.</span>個人情報の第三者提供</h2>
    <p>個人情報は次の場合を除いて、第三者に開示、提供することはありません。 （共同利用は5.をご参照ください。）</p>
    <table class="listOrd01">
        <colgroup>
            <col class="colA" style="width:20px;" />
            <col class="colC" />
        </colgroup>
        <tr>
            <th>(1)</th>
            <td>法令に基づく場合</td>
        </tr>
        <tr>
            <th>(2)</th>
            <td>人の生命、身体または財産の保護のために必要がある場合であってご本人の同意を得ることが困難であるとき</td>
        </tr>
        <tr>
            <th>(3)</th>
            <td>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であってご本人の同意を得ることが困難であるとき</td>
        </tr>
        <tr>
            <th>(4)</th>
            <td>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</td>
        </tr>
        <tr>
            <th>(5)</th>
            <td class="lastItem">あらかじめご本人の同意を得たとき</td>
        </tr>
    </table>
    <div class="separator01">
        <h2><span class="num">7.</span>開示および訂正等</h2>
        <p class="lastItem">当社が保有する個人情報に関して、ご本人の情報の開示、訂正、削除、利用停止をご希望される場合には、お申し出いただいた方がご本人であることを確認させていただいた上で、合理的な期間および範囲でご回答をいたします。</p>
    </div>
    <div class="separator01">
        <h2><span class="num">8.</span>開示および訂正等のご請求方法</h2>
        <p>当社が保有する個人情報に関する開示および訂正等のご請求方法は、下記のとおりです。 所定の様式「個人情報の開示・訂正・利用停止に関する申請書」に必要事項を記入し、下記のご本人、代理人を確認することができる書類を同封のうえ、当社カスタマーサービス室までご送付ください。</p>
        <div class="indent">
            <!-- # -->
            <p class="link01Pdf nearNext"><a onclick="window.open(this.href, null); return false;" href="http://www.watabe-wedding.co.jp/library/pdf/watabe/kojin_sinsei.pdf">「個人情報の開示・訂正・利用停止に関する申請書」（PDFファイル/19KB）</a></p>
            <p class="link01Pdf"><a onclick="window.open(this.href, null); return false;" href="http://www.watabe-wedding.co.jp/library/pdf/watabe/ininjyo.pdf">「委任状」（PDFファイル/9KB）</a></p>
            ※  ご本人の確認・代理人の確認<br />
            請求の際にはご本人または代理人ご本人であることを確認するために下記書類のいずれか一種類を「個人情報の開示・訂正・利用停止に関する申請書」に同封してください。尚、現在の住所と異なる場合はご転居の履歴のわかる住民票をご提出ください。
            <div class="indent">
                <!-- ## -->
                <ul class="listDot01">
                    <li>運転免許証（写）</li>
                    <li>パスポート（写）</li>
                    <li>外国人登録証明書（写）</li>
                    <li>健康保険の被保険者証（写）</li>
                    <li>年金手帳（写）</li>
                    <li>写真付き住民基本台帳カード（写）</li>
                    <li>住民票（発行から6ヶ月以内のもの）（写）</li>
                    <li class="lastItem">印鑑証明書等の公的証明書類（原本）</li>
                </ul>
                <!-- /## -->
            </div>
            <!-- /indent -->
            <div class="indent">
                ※　代理人からのお申込みの場合は、ご本人からの委任状（当社所定のもの）および委任状に押印された印鑑の印鑑証明書（原本）を上記書類に追加してご提出ください。
            </div>
            <div class="indent">
                ※　利用目的の通知または開示につきましては、当社指定の書類に加え、返信用封筒 に800円分の切手を貼付し、郵送してください。配達証明付書留郵便で送付させていただきます。
            </div>
        </div>
        <!-- /indent -->
    </div>
    <div class="separator01">
        <h2><span class="num">9.</span>個人情報の安全管理措置</h2>
        <p class="lastItem">個人情報の管理につきましては、安全管理のために必要かつ適切な措置を講じます。</p>
    </div>
    <div class="separator01">
        <h2><span class="num">10.</span>見直し</h2>
        <p class="lastItem">個人情報の取扱いにつきましては、上記各項目の内容を適宜見直し、改善いたします。</p>
    </div>
    <div class="separator01">
        <h2><span class="num">11.</span>開示および訂正等の受付窓口、個人情報に関するお問い合わせ窓口</h2>
        <p>下記の受付窓口まで、電話、電子メールにてご連絡ください。</p>
        <p class="lastItem">
            ワタベウェディング株式会社　「 カスタマーサービス室 」<br />
            Tel ： 0120－41－6688（フリーダイヤル）<br />
            e-mail ： <a href="mailto:privacy@watabe-wedding.co.jp">privacy@watabe-wedding.co.jp</a><br />
            受付時間 ： 平日10:00-17：00 (土日祝日、当社休業日を除きます)
        </p>
    </div>
    <div class="separator01 lastItem">
        <h2><span class="num">12.</span>クッキーについて</h2>
        <p style="MARGIN-BOTTOM: 0px"><span style="FONT-WEIGHT: bold; TEXT-DECORATION: underline">クッキーとは？</span></p>
        <div class="indent">
            <!-- ## -->
            <p>クッキーとは、ウェブページを利用したときに、ブラウザとサーバーとの間で送受信した利用履歴や入力内容などを、お客様のコンピュータにファイルとして保存しておく仕組みです。次回、同じページにアクセスすると、クッキーの情報を使って、ページの運営者はお客様ごとに表示を変えたりすることができます。お客様がブラウザの設定でクッキーの送受信を許可している場合、ウェブサイトは、ユーザーのブラウザからクッキーを取得できます。なお、お客様のブラウザは、プライバシー保護のため、そのウェブサイトのサーバーが送受信したクッキーのみを送信します。</p>
        </div>
        <p style="MARGIN-BOTTOM: 0px"><span style="FONT-WEIGHT: bold; TEXT-DECORATION: underline">クッキーの設定について</span></p>
        <div class="indent">
            <!-- ## -->
            <ul style="MARGIN-BOTTOM: 20px" class="listDot01">
                <li>お客様は、クッキーの送受信に関する設定を「すべてのクッキーを許可する」、「すべてのクッキーを拒否する」、「クッキーを受信したらユーザーに通知する」などから選択できます。設定方法は、ブラウザにより異なります。クッキーに関する設定方法は、お使いのブラウザの「ヘルプ」メニューでご確認ください。</li>
                <li>すべてのクッキーを拒否する設定を選択されますと、認証が必要なサービスを受けられなくなる等、インターネット上の各種サービスの利用上、制約を受ける場合がありますのでご注意ください。</li>
            </ul>
            <!-- /## -->
        </div>
        <p style="MARGIN-BOTTOM: 0px"><span style="FONT-WEIGHT: bold; TEXT-DECORATION: underline">当社がクッキーを使用して行っていること</span></p>
        <div class="indent">
            <!-- ## -->
            <p>以下の目的のため、当社はクッキーを利用しています。</p>
            <ul class="listDot01">
                <li>お客様が認証サービスにログインされるとき、保存されているお客様の登録情報を参照して、お客様ごとにカスタマイズされたサービスを提供できるようにするため</li>
                <li>お客様が興味を持っている内容や、当社のサイト上での利用状況をもとに、最も適切な広告を他社サイト上で表示するため</li>
                <li>当社のサイトの利用者数やトラフィックを調査するため</li>
                <li>当社のサービスを改善するため</li>
                <li>セキュリティー保持のため、ご利用から一定の時間が経過したお客様に対してパスワードの再入力（再認証）を促すため</li>
            </ul>
            <p>なお、当社は、当社の広告の配信を委託する第三者への委託に基づき、第三者を経由して、当社のクッキーを保存し、参照する場合があります。</p>
        </div>
    </div>
</div>

