@section head {
    <link href="@Url.Content("~/Content/term.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = Lang.L("サイト利用規約", "Terms of Use");
}

<div class="itemBlockIndex">
    @if (Lang.isJPN()) {
        <h1><span>サイト利用規約</span></h1>
        <div class="cwpInnr02 clearfix">
            <!-- ContentMainArea ============= -->
            <div id="ContentMainArea">
                <!-- EtPrvArea ====== -->
                <div id="EtPrvArea">
                    <div class="separator01">
                        <h2>ワタベウェディングのサイトをご利用いただく前に</h2>
                        <p>
                            ワタベウェディング株式会社サイト（以下当サイトとします）をご利用いただくためには、当利用規約に同意していただく必要があります。お客様が当社サイトをご利用いただいた時点で、当利用規約に同意していただいたものとみなします。当利用規約にご同意いただけない場合は当サイトのご利用をご遠慮ください。<br />
                            当サイトの全権は、当社が有しており、当サイト上にある各コンテンツ及びサービスは、当社の裁量により変更、修正、削除、追加を行なうことがあります。なお当社は、お客様に事前通知をすることなく当サイトを任意に改訂することが出来る権利を有しています。
                        </p>
                    </div>
                    <h2>当サイト利用上のルール</h2>
                    <h3><span class="num">1.</span><b>禁止事項について</b></h3>
                    <!-- # -->
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colB" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td colspan="2">当サイトのご利用に際し、次の行為は、禁止させていただきます。</td>
                        </tr>
                        <tr></tr>
                        <!-- ## -->
                        <tr>
                            <th></th>
                            <th>a.</th>
                            <td>当社または第三者の財産もしくはプライバシーなどを侵害する行為、または侵害する恐れのある行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>b.</th>
                            <td>当社または第三者に、不利益もしくは損害を与える行為、またはその恐れのある行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>c.</th>
                            <td>公序良俗に反する行為、またはその恐れのある行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>d.</th>
                            <td>犯罪行為もしくは犯罪行為に結びつく行為、またはその恐れのある行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>e.</th>
                            <td>当社または第三者の名誉もしくは信用を毀損する行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>f.</th>
                            <td>営業活動もしくは営利を目的とする行為、またはその準備を目的とする行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>g.</th>
                            <td>他人の電子メールアドレスを登録するなど、虚偽の申告、届出を行なう行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>h.</th>
                            <td>コンピュータウィルス等有害なプログラムを使用または提供する行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>i.</th>
                            <td>その他、法律、法令もしくは条例に違反する行為、またはその恐れのある行為</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>j.</th>
                            <td class="lastItem">その他、当社が不適切と判断する行為</td>
                            <!-- /## -->
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td class="lastItem" colspan="2">当社は、上記の禁止行為を発見した場合、お客様に事前に通知することなく、その全部または一部を削除することがありますが、常に当サイトを監視する義務を負うものではありません。</td>
                        </tr>
                    </table>
                    <!-- /# -->
                    <!-- /indent -->
                    <h3>2.<b>著作権について</b></h3>
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td>当サイトには、各国の著作権法・条約等によって保護されている文章、音楽、図面、絵画、写真、プログラム、各種著作物およびこれらの二次的著作物などが含まれます。</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td class="lastItem">これらについては、当社をはじめとする権利者に無断で複製、送信、放送、配布、貸与、翻訳、変造等をすることは、著作権侵害となり、違法となりますのでご注意ください。</td>
                        </tr>
                        <!-- /## -->
                    </table>
                    <!-- /indent -->
                    <h3><span class="num">3.</span><b>免責事項について</b></h3>
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td>当社は、当サイトに掲載されている全ての情報を慎重に作成し、また管理しますが、その正確性および完全性などに関して、いかなる保証もするものではありません。</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td>当社は、予告なしに、当サイトの運営を停止または中止し、また当サイトに掲載されている情報の全部または一部を変更する場合があります。</td>
                        </tr>
                        <tr>
                            <th>(3)</th>
                            <td>お客様が当サイトをご利用されたこと、または何らかの原因によりこれをご利用できなかったことによりお客様に生じる一切の損害および第三者によるデータの書き込み、不正なアクセス、発言、メールの送信等に関して生じる一切の損害（お客様同士の間でトラブルが生じ、これによりお客様が被る損害を含みます。）について、当社は、何ら責任を負うものではありません。</td>
                        </tr>
                        <tr>
                            <th>(4)</th>
                            <td>当サイトで提供するサービスの内容については、当社の判断により変更・中止・サービス提供の停止等ができるものとします。その場合でも、当社はお客様又は第三者に対して一切責任を負いません。</td>
                        </tr>
                        <tr>
                            <th>(5)</th>
                            <td>システムの不具合による情報提供不能、又は不完全な情報提供等の事態が発生したことによるお客様の損害に対して、一切の責任を負いませんのでご了承ください。</td>
                        </tr>
                        <tr>
                            <th>(6)</th>
                            <td class="lastItem">ご来店予約フォームを使ってのご予約に関しては、店舗からご連絡を差し上げるまでご来店予約が確約されたものではありません。店舗からの連絡確認をもってご予約を承ったこととなりますので、ご注意ください。</td>
                        </tr>
                    </table>
                    <!-- /## -->
                    <!-- /indent -->
                    <h3><span class="num">4.</span><b>リンクサイトについて</b></h3>
                    <table class="listOrd01">
                        <colgroup>
                            <col class="colA" style="width:20px;" />
                            <col class="colC" />
                        </colgroup>
                        <tr>
                            <th>(1)</th>
                            <td>当サイトから、または当サイトへリンクを張っている第三者のウェブサイト（以下「リンクサイト」といいます。）の内容およびリンクサイトの利用により生じる一切の損害について、当社は、いかなる責任も負うものではありません。</td>
                        </tr>
                        <tr>
                            <th>(2)</th>
                            <td class="lastItem">当サイトへのリンクは原則として自由ですが、リンクされているウェブサイトの内容（公序良俗に反するなど）やリンクの方法によっては、事前事後にかかわらず、リンクをお断りする場合があります。</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    } else {
        <div class="term-eng">
            <h1>Terms of Use</h1>
            <p>
                Watabe.com (the “website” or “site”) is the property of Watabe Wedding Corporation (“Watabe”), all rights reserved. By using the website, the user (“you”) signify your agreement to these Terms and Conditions. If you do not agree with any of the below Terms or Conditions, you are prohibited from using the website. Watabe reserves the right, in its sole discretion, to change, modify, add, or remove information from the site, without prior consent to you.
            </p>

            <h2>1. Prohibited Contents and Actions</h2>
            <p>
                <strong>(1)</strong>
                Upon using the website, the following is strictly prohibited:
                <ul>
                    <li>Any activity that violates the privacy of Watabe or others</li>
                    <li>Any activity that would cause any kind of loss or damage to Watabe or others</li>
                    <li>Any activity that is harmful to Watabe or others (viruses, stalking, hate speech, impersonating someone else, etc.), or violates any Code of Conduct</li>
                    <li>Any activity that is illegal</li>
                    <li>Any activity that is for commercial use, or for profit</li>
                    <li>Any activity that Watabe deems inappropriate</li>
                </ul>
            </p>
            <p>
                <strong>(2)</strong>
                If Watabe detects that you have not complied with or have violated any of the above, Watabe will terminate any or all usage, at any time without any prior notice. However, Watabe is not obligated to monitor the site at all times.
            </p>

            <h2>2. Copyrights</h2>
            <p>
                <strong>(1)</strong>
                The articles, music, images, photos, videos, programs, and other materials is owned by or licensed to Watabe.
            </p>
            <p>
                <strong>(2)</strong>
                These materials are for your non-commercial, personal use only, and may not be downloaded, copied, published, rented, leased, lent, translated, forged, or redistributed without authorization from the rights holders.
            </p>

            <h2>3. Disclaimer</h2>
            <p>
                <strong>(1)</strong>
                Watabe will create and maintain the accuracy of its materials with the utmost care, however Watabe cannot guarantee it in its entirety.
            </p>

            <p>
                <strong>(2)</strong>
                Watabe reserves the right to suspend or terminate the operation of the site, or to modify any or all information published on the site.
            </p>
            <p>
                <strong>(3)</strong>
                Watabe shall not be held responsible if you are unable to use the site, or for any damage by any postings, unauthorized access, statements, emails, by a third party while using the website.
            </p>
            <p>
                <strong>(4)</strong>
                Watabe reserves the right to suspend or terminate any services offered, and shall not be held responsible for any loss or damage, to you or any third party.
            </p>
            <p>
                <strong>(5)</strong>
                Watabe shall not be held responsible for any loss or damage, with services provided or insufficient information, by any system malfunctions.
            </p>

            <h2>4. Site Links</h2>
            <p>
                <strong>(1)</strong>
                Watabe shall not be held responsible for any loss or damage that may occur from any third-party links on Watabe’s website, or any of Watabe’s link on third-party websites.
            </p>
            <p>
                <strong>(2)</strong>
                You are free to link to Watabe’s site, however Watabe reserves the right to refuse the use of the link based on that website’s content (such as, but not limited to violating the Code of Conduct), without prior notice.
            </p>
        </div>
    }
</div>



