<div id="editWindow"
     data-role="window"
     data-visible="false"
     data-modal="true"
     data-min-width="500"
     data-width="600"
     data-min-height="400"
     data-height="500"
     style="display:none;">

    <div id="editDiv">
        <form class="form-horizontal" data-role="validator">
            <div class="form-group">
                <label for="agent_cd" class="col-sm-4 control-label required">Code</label>
                <div class="col-sm-2">
                    <input name="agent_cd" type="text" data-bind="value: model.agent_cd, enabled: isCodeEditable"
                           maxlength="6" required
                           class="form-control input-sm k-input k-textbox toupper tohankaku" />
                </div>
                @*<label for="agent_fit" class="col-sm-offset-2 col-sm-1 control-label">FIT</label>
                <div class="col-sm-2">
                    <input name="agent_fit" type="text" data-bind="value: model.agent_fit"
                           maxlength="4"
                           class="form-control input-sm k-input k-textbox tohankaku" />
                </div>*@
            </div>

            <div class="form-group">
                <label for="agent_name" class="col-sm-4 control-label">Name Eng</label>
                <div class="col-sm-9">
                    <input name="agent_name" type="text" data-bind="value: model.agent_name" maxlength="30" 
                           class="form-control input-sm k-input k-textbox " />
                </div>
            </div>

            <div class="form-group">
                <label for="agent_name_jpn" class="col-sm-4 control-label">Name Jpn</label>
                <div class="col-sm-9">
                    <input name="agent_name_jpn" type="text" data-bind="value: model.agent_name_jpn" maxlength="30"
                           class="form-control input-sm k-input k-textbox " />
                </div>
            </div>

            <div class="form-group">
                <label for="area_cd" class="col-sm-4 control-label">Area</label>
                <div class="col-sm-9">
                    <input name="area_cd" type="text" data-bind="value: model.area_cd" 
                           class="form-control input-sm select-area" />
                </div>
            </div>

            <div class="form-group">
                <label for="op_address1" class="col-sm-4 control-label">Address 1</label>
                <div class="col-sm-9">
                    <input name="op_address1" type="text" data-bind="value: model.op_address1" maxlength="100"
                           class="form-control input-sm k-input k-textbox " />
                </div>
            </div>

            <div class="form-group">
                <label for="op_address2" class="col-sm-4 control-label">2</label>
                <div class="col-sm-9">
                    <input name="op_address2" type="text" data-bind="value: model.op_address2" maxlength="100"
                           class="form-control input-sm k-input k-textbox " />
                </div>
            </div>

            <div class="form-group">
                <label for="op_address3" class="col-sm-4 control-label">3</label>
                <div class="col-sm-9">
                    <input name="op_address3" type="text" data-bind="value: model.op_address3" maxlength="100"
                           class="form-control input-sm k-input k-textbox " />
                </div>
            </div>

            <div class="form-group">
                <label for="op_address4" class="col-sm-4 control-label">4</label>
                <div class="col-sm-9">
                    <input name="op_address4" type="text" data-bind="value: model.op_address4" maxlength="100"
                           class="form-control input-sm k-input k-textbox " />
                </div>
            </div>

            <div class="form-group">
                <label for="op_tel" class="col-sm-4 control-label">Phone</label>
                <div class="col-sm-3">
                    <input name="op_tel" type="text" data-bind="value: model.op_tel" maxlength="100" 
                           class="form-control input-sm k-input k-textbox tohankaku " />
                </div>
                <label for="op_fax" class="col-sm-2 control-label">Fax</label>
                <div class="col-sm-3">
                    <input name="op_fax" type="text" data-bind="value: model.op_fax" maxlength="100" 
                           class="form-control input-sm k-input k-textbox tohankaku " />
                </div>
            </div>

            <div class="form-group">
                <label for="discon_date" class="col-sm-4 control-label">Discon Date</label>
                <div class="col-sm-3">
                    <input name="discon_date" type="text" 
                           style="width:100px;" maxlength="10"
                           data-role="datepicker"
                           data-bind="value: model.discon_date" 
                           class="form-control input-sm tohankaku " />
                </div>
            </div>

            <div class="form-group">
                <label for="staff_required" class="col-sm-4 control-label">Staff Required</label>
                <div class="col-sm-1">
                    <input name="staff_required" type="checkbox" data-bind="checked: model.staff_required" />
                </div>
                <label for="branch_staff_required" class="col-sm-4 control-label">Branch Staff Required</label>
                <div class="col-sm-1">
                    <input name="branch_staff_required" type="checkbox" data-bind="checked: model.branch_staff_required" />
                </div>
            </div>

            @* Saveボタン、Closeボタン *@
            <div class="buttons">
                <input id="btnEditSave" type="button" value="Save" data-bind="click:onSave" class="btn btn-primary btn-save" />
                <input id="btnEditClose" type="button" value="Close" data-bind="click: onClose" class="btn btn-default btn-close" />
            </div>
        </form>
    </div>

</div> @* End of editWindow *@

