@charset "UTF-8";
/*****************************************************
File Name: step3.css
Style Info: 個別設定
*****************************************************/
/*====================================================
メインビジュアル
====================================================*/
#mainVisual{
	width: 100%;
	height: 200px;
	min-height: 200px;
	text-align: center;
	display: table;
	background:url(../img/visual_sub_02.jpg) no-repeat center center;
	background-size:100%;
	background-position: center 70%;
}
.mainSection{
	display: table-cell;
    text-align: center;
	vertical-align: middle;
}

/*====================================================
#contents
====================================================*/
#contents{
	width: 100%;
	min-width: 100%;
    overflow: hidden;
	margin:0 auto;
	padding:0 0 100px;
	background: #fff;
}
/*====================================================
言語切り替えボタン
====================================================*/
.languageArea{
	background: #f3f3f3;
	width: 100%;
	text-align: right;
	padding:10px;
}
.languageArea ul:after{
	content:"";
	display: block;
	clear: both;
	overflow: hidden;
}
.languageArea ul li{
	display: inline-block;
	vertical-align: top;
}
.languageArea ul li + li{
	margin-left:10px;
}
/*====================================================
ログイン
====================================================*/
.loginArea{
	width:400px;
	margin:0 auto;
<!--	background: #f3f3f3;-->
	padding:60px 75px 45px 75px;
	font-size:14px;
	line-height:10px;
}
.loginArea .ttl_form-group{
	font-size:14px;
	margin-bottom:10px;
}
.loginArea #divEmail{
	margin-bottom:30px;
}
.loginArea #divPassword{
	margin-top:10px;
}
.loginArea .reregister{
	margin-top:10px;
	display: block;
	font-size:14px;
}
/*====================================================
input
====================================================*/
.loginArea #divEmail input{
    font-size: 14px;
    width:100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 5px;
}
.loginArea #divPassword input{
    font-size: 14px;
    width:100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 5px;
}
.loginArea input[type="submit"]{
    display: block;
    background: #000;
    color: #fff;
    text-align: center;
    width: 110px;
    margin: 30px auto 0;
    line-height: 34px;
    border-radius: 5px;
    font-size: 14px;
    border:none;
    -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -ms-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s;
}
.loginArea input[type="submit"]:hover{
    opacity: 0.7;
    filter: alpha(opacity=0.7);
}