/* Styles for custom login form */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 60px;
    text-align:center;
    color: gray;
}

.form-1 {
    width: 300px;
    margin: 30px auto 30px;
    padding: 10px;
    position: relative; 

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255,255,255,1), inset 0 -3px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255,255,255,1), inset 0 -3px 2px rgba(0,0,0,0.25);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255,255,255,1), inset 0 -3px 2px rgba(0,0,0,0.25);

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background: white; 
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}

    .form-1 .field {
        position: relative; 
    }

        .form-1 .field i {
            left: 4px;
            top: 20px;
            position: absolute;
            height: 20px;
            width: 20px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);

            -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
            -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
            box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

            color: #777777;
            text-align: center;
            line-height: 42px;

            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            pointer-events: none;
        }

    .form-1 input[type=text],
    .form-1 input[type=password] {
        font-size: 20px;
        font-weight: 400;
        -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.8);
        text-shadow: 0 1px 0 rgba(255,255,255,0.8);
        width: 100%;
        height: 40px;
        padding: 10px 18px 8px 35px;
        border: none; 

        -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 3px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 3px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 3px 2px rgba(0,0,0,0.1);

        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

        background: #f9f9f9;
        color: #777;

        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -ms-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;
    }

    .form-1 input[type=text] {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-1 input[type=password] {
        margin-top: 6px;
        margin-bottom: 10px;
    }

        .form-1 input[type=text]:hover ~ i,
        .form-1 input[type=password]:hover ~ i {
            color: #52cfeb;
        }

        .form-1 input[type=text]:focus ~ i,
        .form-1 input[type=password]:focus ~ i {
            color: #42A2BC;
        }

        .form-1 input[type=text]:focus,
        .form-1 input[type=password]:focus,
        .form-1 button[type=submit]:focus {
            outline: none;
        }

    /*.form-1 .submit {
        width: 160px;
        height: 60px;
        position: absolute;
        top: 138px;
        left: auto;
        right:auto;
        padding: 8px;
        z-index: 2;
        background: #ffffff;
        -moz-border-radius: 5%;
        -webkit-border-radius: 5%;
        border-radius: 5%;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1), inset 0 -3px 2px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1), inset 0 -3px 2px rgba(0,0,0,0.2);
        box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1), inset 0 -3px 2px rgba(0,0,0,0.2);
    }*/

    /* .form-1 .submit:after {
            //Size and position
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            top: -2px;
            left: 30px;
             Styles
            background: #ff00ff;
             Other masks trick
            -moz-box-shadow: 0 62px white, -32px 31px white;
            -webkit-box-shadow: 0 62px white, -32px 31px white;
            box-shadow: 0 62px white, -32px 31px white;
        }*/

    /*.form-1 button {
        width: 100%;
        height: 100%;
        margin-top: -1px;
        font-size: 1.4em;
        line-height: 1.75;
        color: white;
        border: none; 
        -moz-border-radius: inherit;
        -webkit-border-radius: inherit;
        border-radius: inherit;
        background: #52cfeb; 
        background: -moz-linear-gradient(#52cfeb, #42A2BC);
        background: -ms-linear-gradient(#52cfeb, #42A2BC);
        background: -o-linear-gradient(#52cfeb, #42A2BC);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
        background: -webkit-linear-gradient(#52cfeb, #42A2BC);
        background: linear-gradient(#52cfeb, #42A2BC);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1);
        cursor: pointer;
    }*/

        /*.form-1 button:hover,
        .form-1 button[type=submit]:focus {
            background: #52cfeb;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .form-1 button:active {
            background: #42A2BC;
            -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.3), inset 0 3px 4px rgba(0,0,0,0.3);
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3), inset 0 3px 4px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 5px rgba(0,0,0,0.3), inset 0 3px 4px rgba(0,0,0,0.3);
        }*/

    .validation-summary-errors {
        margin-left: 40px;
    }

    .form-1 .submit {
        text-align:center;
    }
    .form-1 button {
        width: 70%;
        height: 100%;
    }


/*-------------------
	Login
--------------------*/
.login {
    margin: 20px 100px 100px 40px;
}

    .login label {
        display: block;
        margin-top: 10px;
    }

    .login input {
        display: block;
    }

    .login #email, .login #password {
        width: 200px;
    }

