@charset "utf-8";

/* 大枠 */
html,
body {
	height: 100%;
	}
body {
	font-size: 14px; 
	line-height: 1.6;
	}
#wrapper {
	background: #FFF7E5;
	min-width: 960px;
	border: 5px solid #FFCCCC;
	padding: 25px 0 0;
	position: relative;
	}
body > #wrapper {
	height: auto;
	}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    }
	
/* リンク */
a:link    {color:#0066FF; text-decoration: none;}
a:visited {color:#0066FF; text-decoration: none;}
a:hover   {color:#0066FF; text-decoration: underline;}
a:active  {color:#0066FF; text-decoration: underline;}

/* アクセシビリティ */
.guidance {
	left: -999px;
	position: absolute;
	width: 990px;
	}
img {
	vertical-align: bottom;
	}

/* ▼▼▼ ヘッダー
=====================================*/
/* タイトル */
#site_title {
	margin-bottom: 25px;
	overflow: hidden;
	}
	#site_title p {margin-left: 130px;}
	

/* ▼▼▼ メイン 「コンテンツとサイドを囲む要素」
=====================================*/
.inner {
	width: 960px;
	margin: 0 auto;
	}

div .nav_bg{
	background: url(../img/mainVisual.jpg) no-repeat center top;
	background-size:1100px 662px;
    margin-bottom: 120px;
	}
ul.nav {
	width:625px;
	min-height: 190px;
	padding: 540px 0 0 0;
	margin: 0 auto 100px;
	}	
	ul.nav li {
		float: left;
		margin-right: 32px;
		}
	ul.nav li:last-child {margin-right: 0;}
	
	
	
	
/* コンテンツ */
#result {
	background: #fff;
	padding: 40px 0;
	color: #666;
	font-size: 12px;
	text-align: center;
	position: relative;
	clear: both;
	}
		.resultArea{
			width:820px;
			margin:0 auto 70px;
		}
		.resultItem{
			clear:both;
			overflow: hidden;
			background: url(../img/bg_line01.png) no-repeat center top;
			padding-top:40px;
			margin-top:40px;
			min-height:130px;
		}
		.resultItem:first-child{
			background:none;
			margin-top:0px;
		}
		.resultUser{
			width:185px;
			float:left;
			text-align:left;
		}
		.resultText{
			width:635px;
			float:left;
			font-size:17px;
			color:#655d4c;
			text-align:left;
    		line-height: 2;
		}
		.linkBtm{
			margin-bottom:20px;
		}
		.linkBtm li{
			margin-bottom:22px;
		}

#tieup,
#tieup02 {
	width: 100%;
	background: #fff;
	text-align: center;
	}
.tieup01_img01 {
	position: absolute;
	top: -125px;
	left: 555px;
	}	
	#tieup h2 {
		padding: 30px 0 40px;
		}
		#tieup .tieup01 {
			background: url(../img/tieup01_img02.jpg) no-repeat 20px top;
			padding: 0 215px;
			}
			#tieup .btn,
			#tieup02 .btn {margin-bottom: 15px;}
			#tieup .date,
			#tieup02 .date {
				padding-bottom: 40px;
				font-size: 16px;
				}
				
#tieup02 {
	background: #FFECE0;
	}
#tieup02 h2 {
	padding: 25px 0 35px;
	}
.tieup02_img01 {
	position: absolute;
	top: -128px;
    left: 50%;
	}
	.tieup02_img01 img{
    	margin: 0 -411px;
		}
	#tieup02 h3 {
		margin-bottom: 5px;
		}
		#tieup02 ul.present {
			width: 818px;
			margin: 0 auto 25px;
			overflow: hidden;
			}
			#tieup02 ul.present li {
				float: left;
				margin-right: 8px;
				}
			#tieup02 ul.present li:last-child {margin-right: 0;}
				

#costume {
	background: #F1F8FD;
	padding: 30px 0;
	}
	#costume h2 {
		margin-bottom: 20px;
		text-align: center;
		}
		#costume ul {
			background: url(../img/costume_img.jpg) no-repeat left top;
			padding-top: 530px;
			overflow: hidden;
			}
			#costume ul li {
				float: left;
				width: 321px;
				margin: 0 25px 20px 0;
				color: #655D4D;
				}
			#costume ul li:nth-child(3n) {
				width: 263px;
				margin-right: 0;
				}
				#costume ul li .txt {padding: 10px 0 0 10px;}

#about {
	padding: 35px 0 55px;
	text-align: center;
	overflow: hidden;
	}
	#about h2 {margin-bottom: 30px;}
		#about .start {
			background: url(../img/about_img.png) no-repeat center top;
			padding-top: 380px;
			margin-bottom: 20px;
			overflow: hidden;
			}
			#about .btn {margin-bottom: 50px;}


/* ▼▼▼ フッター
=====================================*/
#footer {
	background: #fff;
	padding: 40px 0;
	color: #666;
	font-size: 12px;
	text-align: center;
	position: relative;
	clear: both;
	overflow: hidden;
	}
	#footer .logo {padding-bottom: 10px;}


