@charset "UTF-8";
/*****************************************************
File Name: step3.css
Style Info: 個別設定
*****************************************************/
/*====================================================
メインビジュアル
====================================================*/
#mainVisual{
	width: 100%;
	height: 200px;
	min-height: 200px;
	text-align: center;
	display: table;
	background:url(../img/visual_sub_02.jpg) no-repeat center center;
	background-size:100%;
	background-position: center 70%;
}
.mainSection{
	display: table-cell;
    text-align: center;
	vertical-align: middle;
}

/*====================================================
#contents
====================================================*/
#contents{
	width: 100%;
	min-width: 100%;
    overflow: hidden;
	margin:0 auto;
	padding:0 0 100px;
	background: #fff;
}
/*====================================================
言語切り替えボタン
====================================================*/
.languageArea{
	background: #f3f3f3;
	width: 100%;
	text-align: right;
	padding:10px;
}
.languageArea ul:after{
	content:"";
	display: block;
	clear: both;
	overflow: hidden;
}
.languageArea ul li{
	display: inline-block;
	vertical-align: top;
}
.languageArea ul li + li{
	margin-left:10px;
}

/*====================================================
orderConfirm
====================================================*/
.myWeddingArea{
	font-size: 14px;
	line-height: 1.0;
	text-align: center;
	width:1100px;
	margin:0 auto;
}
.myWeddingArea .myWeddingPlanTtl{
    text-align: left;
    margin-top:30px;
    font-weight: bold;
}
.myWeddingArea .myWeddingPlanTtlsub{
	font-size: 16px;
    margin-top:30px;
	text-align: left;
    font-weight: bold;
}
/*テーブル weddingPlanArea*/
.weddingPlanArea{
    margin-top:15px;
    font-size: 16px;
}
.weddingPlanArea th,
.weddingPlanArea td{
    border:none;
    vertical-align: top;
}
.weddingPlanArea .btnConfirm{
    display: block;
    background: #000;
    color:#fff;
    text-align: center;
    width:120px;
    line-height: 34px;
    border-radius: 5px;
    font-size: 14px;
    margin:10px 0 0 auto;
    -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -ms-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s;
}
.weddingPlanArea .btnConfirm:hover{
    opacity: 0.7;
    filter: alpha(opacity=0.7);
}
/*テーブル orderPlanDetail*/
.myWeddingArea .orderPlanDetail strong{
	font-size: 14px;
	display: block;
}
.myWeddingArea .orderPlanDetail .tdPicture.th_header {
    padding: 0;
    border-right: none !important;
    width: 14%;
}
.myWeddingArea .orderPlanDetail .tdDescription.th_header{
    width: 40%;
}
.myWeddingArea .orderPlanDetail td{
	background: #f3f3f3;
}
.myWeddingArea .orderPlanDetail .th_header {
    background-color: #d4d4d4;
    width: 10%;
    font-weight: bold;
}
.myWeddingArea .orderPlanDetail .tdPicture{
	padding:0;
}
.myWeddingArea .orderPlanDetail .tdPicture #list_content img{
	width:100%;
}
.myWeddingArea .textBtnArea{
	margin-top:120px;
}
.myWeddingArea .textBtnArea p{
	font-size:14px;
}
/*テーブル myWeddingPlanTable*/
.myWeddingArea .myWeddingPlanTable{
    margin-top:10px;
}
.myWeddingArea .myWeddingPlanTable .th_header {
    background-color: #f3f3f3;
    width: 10%;
    font-weight: bold;
    padding:6px 15px;
    white-space: nowrap;
}
/*テーブル パーツ*/
.myWeddingArea .checkCancel{
    font-size: 14px;
    line-height: 14px;
    display: block;
    text-align: right;
    margin-top: -10px;
}
.myWeddingArea .statusIcon{
    color:#fff;
    text-align: center;
    font-size:14px;
    padding:10px;
}
.myWeddingArea .statusIcon li{
    padding:5px 5px;
    border-radius: 5px;
    display: inline-block;
    min-width:60px;
}
.myWeddingArea .statusIcon li + li{
    margin-top:10px;
}
.myWeddingArea .listIcon01{
    background: #3d99dc;
}
.myWeddingArea .listIcon02{
    background: #54c0e3;
}
.myWeddingArea .personArea{
    margin-left:20px;
    display: inline-block;
}
.myWeddingArea .personNameArea{
    min-width:20%;
}
.myWeddingArea .btnCancel{
    margin-top:5px;
    font-size:14px;
}
.myWeddingArea .solemnizationArea .custom-selectbox{
    width:120px;
}
/* 編集ボタン */
.myWeddingArea .btnList{
	display: table;
    margin: 100px auto 0;
}
.myWeddingArea .btnList li{
	display: table-cell;
}
.myWeddingArea input{
    font-size: 14px;
    width:100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 5px;
    margin-bottom:15px;
    font-size: 14px;
}

.myWeddingArea input[type="submit"]{
    display: block;
    background: #d4d4d4;
    color: #000;
    text-align: center;
    width: 110px;
    line-height: 34px;
    min-height: 34px;
    border-radius: 5px;
    font-size: 14px;
    border:none;
    -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -ms-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s;
}
.myWeddingArea input[type="submit"]:hover{
    opacity: 0.7;
    filter: alpha(opacity=0.7);
}
.myWeddingArea .btnList .btn-primary{
    background: #000;
    color: #fff;
}
/* checkbox */
.myWeddingArea .checkRadio_wrap input[type=checkbox] + label{
    margin-right:0;
}
/* selectbox */
.myWeddingArea .calendarBox .inner{
    display: table-cell;
    padding: 0 30px;
}
.myWeddingArea .custom-selectbox {
    position: relative;
    display: inline-block;
    width:250px;
}
.myWeddingArea .custom-selectbox select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height:30px;
}
.myWeddingArea .custom-selectbox .custom-inner {
    display:block;
    position: relative;
    z-index: 0;
    border: 1px solid #CCCCCC;
    padding: 0 30px 0 12px;
    vertical-align: middle;
    font-size: 14px;
    height:30px;
    color:#000;
    text-align: left;
    line-height: 30px;
    border-radius: 5px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #d0cecf 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d0cecf 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#d0cecf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0cecf',GradientType=0 );
}
.myWeddingArea .custom-selectbox .custom-inner:before,
.myWeddingArea .custom-selectbox .custom-inner:after {
    content: '';
    position: absolute;
    display: block;
}
.myWeddingArea .custom-selectbox .custom-inner:before {
    top: 0;
    right: 0;
    bottom: 0;
    width: 24px;
    border:none;
}
.myWeddingArea .custom-selectbox .custom-inner:after {
    top: 50%;
    right: 7px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-top-color: #000;
    border-width: 6px 6px 0 6px;
}
.myWeddingArea .custom-selectbox option{
    font-size: 16px;
    line-height: 1.5;
}
