@charset "UTF-8";
/*****************************************************
File Name: step1.css
Style Info: 個別設定
*****************************************************/
/*====================================================
メインビジュアル
====================================================*/
body{
	height:100% !important;
}
#mainVisual{
	width: 100%;
	height: 100%;
	min-height: 600px;
	text-align: center;
	display: table;
}
.mainSection{
	display: table-cell;
    text-align: center;
	vertical-align: middle;
}
.mainStep{
	width:670px;
	margin:50px auto 0;
	font-size:20px;
	line-height: 1.5;
	color:#000;
	background-color: rgba(255,255,255,0.7);
    border-radius:10px;
}
.mainSection a{
    outline: none;
    color: #000!important;
  	padding:20px;
	display: block;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.mainStep span{
	display: block;
}
.mainStep span{
	display:block;
	margin-top:20px;
	font-size:16px;
	position: relative;
	color:#000;
	text-decoration:none;
	padding-bottom:50px;
}

.mainStep span:after{
	content:"";
	width:29px;
	height:29px;
	display:inline-block;
	background:url(../img/arrow_step1.png) no-repeat center center;
	position: absolute;
	left:50%;
	bottom:0;
	margin-left:-15px;
}
/* リンク設定 */
.mainSection a:link{text-decoration:none;}
.mainSection a:hover{opacity:0.7;color:#000; text-decoration:none;}
/*====================================================
processArea
====================================================*/
.processArea{
	margin-top:10px;
}
.processArea ul{
	display: table;
	border:solid 4px #fff;
	font-size:14px;
	line-height:42px;
	height:40px;
	text-align: center;
	margin: 0 auto;
	background:url(../img/bg_step2.png) repeat center center;
}
.processArea li{
	display: table-cell;
    vertical-align: middle;
    width:300px;
	position: relative;
}
.processArea li img{
	vertical-align: middle;
	margin-right:10px;
}


/*====================================================
#calendarArea
====================================================*/
#calendarArea{
	padding:5px;
}
.calendarBox{
	margin:10px auto 0;
}
/*====================================================
#contents
====================================================*/
#contents{
	width: 100%;
	min-width: 100%;
    overflow: hidden;
	margin:0 auto;
	padding:0px 0 60px;
	background: #fff;
}
#contents .itemBlockArea:after{
	content:"";
	display: block;
	overflow: hidden;
	clear: both;
}
#contents .itemBlockArea{
	width: 900px;
	margin:0 auto;
}
#contents .itemBlockIndex{
	float:left;
	margin-right:30px;
	margin-top:30px;
}
#contents .itemBlockIndex:nth-child(3n){
	margin-right:0px;
}
#contents .itemBlockIndex .txtArea h2{
	position: relative;
	display: inline-block;
	padding-right:25px;
	margin-top:15px;
}
#contents .itemBlockIndex .txtArea h2 a{
	font-size:16px;
	line-height: 1;
	color:#000;
	text-decoration: none;
}
#contents .itemBlockIndex .txtArea h2:after{
	content:"";
	background:#FFF url(../img/arrow_01.png) repeat center center;
	width:15px;
	height:15px;
	display: block;
	position: absolute;
	top:0;
	right: 0;
}