@charset "UTF-8";
/*****************************************************
File Name: step3.css
Style Info: 個別設定
*****************************************************/
/*====================================================
メインビジュアル
====================================================*/
#mainVisual{
	width: 100%;
	height: 200px;
	min-height: 200px;
	text-align: center;
	display: table;
	background:url(../img/visual_sub_02.jpg) no-repeat center center;
	background-size:100%;
	background-position: center 70%;
}
.mainSection{
	display: table-cell;
    text-align: center;
	vertical-align: middle;
}

/*====================================================
processArea
====================================================*/
.processArea{
	margin-top:10px;
}
.processArea ul{
	display: table;
	border:solid 4px #fff;
	font-size:14px;
	line-height:42px;
	height:40px;
	text-align: center;
	margin: 0 auto;
	background:url(../img/bg_step2.png) no-repeat center center;
}
.processArea li{
	display: table-cell;
    vertical-align: middle;
    width:400px;
	position: relative;
}
.processArea li img{
	vertical-align: middle;
	margin-right:10px;
}

/*====================================================
#contents
====================================================*/
/*#contents{
	width: 100%;
	min-width: 100%;
    overflow: hidden;
	margin:0 auto;
	padding:0 0 100px;
	background: #fff;
}*/
#contents .itemBlockArea:after{
	content:"";
	display: block;
	overflow: hidden;
	clear: both;
}
#contents .itemBlockArea{
	width: 100%;
	padding:0 0 20px 0;
	margin:0px auto 0;
}
#contents .btnMore{
	display: block;
	background: #000;
	color:#fff;
	text-align: center;
	width:150px;
	margin:40px auto 0;
	line-height: 44px;
	min-height: 44px;
	border-radius: 5px;
    font-size: 14px;
}
.bx-viewport{
	min-height: 167px;
}
/*titleBlock*/
.titleBlock{
	width: 100%;
	padding:0 0px;
	margin:0px auto 0;
}
.titleBlock:after{
	content:"";
	display: block;
	clear:both;
	overflow: hidden;
}

.titleBlock .itemNameArea{
    width: 100%;
    background-color:#FFE4E1;
    padding:7px;
    margin-bottom:4px;
}
.titleBlock .itemNameArea h2{
	font-size:18px;
    /*font-weight: bold;*/
	line-height: 1.5;
}
.titleBlock .photoArea{
	float: left;
    width: 190px;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.titleBlock .smallphotoArea{
	float: left;
    width:140px;
    height:100px;
}
.titleBlock .smallphotoArea li{
    display: inline-block;
}
.titleBlock .txtArea{
	padding-left: 350px;
	font-size:14px;
	line-height: 1.5;
}
/*.titleBlock .photoArea ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.titleBlock .photoArea li {
	width: 60px;
    margin: 0 0 0 1px;
    padding: 0;
    float: left;
}
.titleBlock .photoArea li img{
	width: 100%;
}
.titleBlock .photoArea ul:after{
	content:"";
	clear:both;
	overflow: hidden;
}*/
.priceArea{
	text-align: right;
	font-size:20px;
	line-height: 1.5;
}
.priceArea span{
	border-bottom:1px solid #000;
}
#contents .btnBack a{
	display: block;
	background: #000;
	color:#fff;
	text-align: center;
	width:110px;
	margin:30px auto 0;
	line-height: 34px;
	/*border-radius: 5px;*/
    font-size: 14px;
    text-decoration: none;
}
.linkDetail{
    float:right;
    color:blue;
    font-size:12px;
}
.linkDetail a:hover{
    cursor:pointer;
}
/*detailBlockOption*/
#contents .detailBlockOption{
	/*width: 900px;*/
	/*padding:0 80px;*/
	margin:0 auto;
}
.detailBlockOption dt{
	border-bottom:solid 1px #d4d4d4;
	font-size:16px;
<!--    font-weight: bold;-->
	line-height: 1.5;
	margin-top:30px;
}
.detailBlockOption dd{
	font-size:12px;
	line-height: 1.5;
	padding:10px 10px 0;
}
.detailBlockOption a{
	color:#0022cd;
	text-decoration: underline;
}
.detailBlockOption a:hover{
	text-decoration: none;
}
#contents .detailBlock {
	padding-bottom: 20px;
}
