<style scoped>
    .bottom-buttons {
        clear: both;
        text-align: center;
        margin-top: 10px;
    }

    .section-info {
        margin: 30px 16px 30px 20px;
    }

</style>

<div class="itemvendor-dialog">

    <form class="form-horizontal">

        <input type="hidden" data-bind="value: item_vendor.item_vendor_id" name="item_vendor_id" />
        <input type="hidden" data-bind="value: item_vendor.item_cd" name="item_cd" />

        <div class="form-group">
            <label for="vendor_cd" class="col-sm-3 control-label">Vendor Cd</label>
            <div class="col-sm-3">
                <input type="text" name="vendor_cd"
                       maxlength="8"
                       placeholder=""
                       class="form-control input-sm toupper tohankaku select-vendor"
                       style="width:95%;"
                       data-height="300"
                       data-bind="value: item_vendor.vendor_cd" />
            </div>
        </div>

        <div class="form-group">

            <label for="order_name" class="col-sm-3 control-label">Order Name</label>
            <div class="col-sm-11">
                <input type="text" name="order_name"
                       maxlength="100"
                       class="form-control input-sm k-input k-textbox w100 toupper tohankaku "
                       data-bind="value: item_vendor.order_name" />
            </div>
        </div>

        <div class="form-group">
            <label for="default_vendor" class="col-sm-3 control-label">Default</label>
            <div class="col-sm-3">
                <input name="default_vendor" type="checkbox" data-bind="checked: item_vendor.default_vendor" />
            </div>
        </div>

        <div class="bottom-buttons" style="margin-top: 20px;">
            <input type="button" value=" SAVE "
                    class="btn btn-danger" style="width:100px;"
                    data-bind="click: onOkClick" />
            <input type="button" value="Close"
                    class="btn btn-default" style="width:100px; margin-left: 100px;"
                    data-bind="click: closeDialog" />
        </div>

</form>
</div>


