<?xml version="1.0" encoding="utf-8" ?>
<regions>

  <region region_cd="HWI" region_name_jpn="ハワイ" region_name="Hawaii"
    server_location="HWI" SvrTimeZone="-10"
    region_group="HWI"
    region_tel="" 
    TimeDiffFromUTC="-10"
    base_url="http://mauloademo.visualhawaii.com/"
    tax_type="NOTAX"
    paper_size="Letter"
    currency_format="#,0.00"
    currency_symbol="$"
    dbname="MauloaDemoTest" dbserver="localhost" dbuser="" dbpwd=""
>
    <area area_cd="HNL" default="True" >
      <branch order="0" branch_cd="HNL" name="ホノルル店" />
    </area>
    <area area_cd="KOA" area_name_jpn="ハワイ島" area_name="Hawaii" />
  </region>

</regions>