<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" 
             allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" 
             allowLocation="true" allowDefinition="Everywhere" />-->
    <section name="ActiveReports11" type="GrapeCity.ActiveReports.Web.ActiveReportsSettingsSection" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=mauloa.visualhawaii.com;Initial Catalog=MauloaDemo;Persist Security Info=True;User ID=****;Password=******" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="IsTest" value="true" />
    <add key="LoggingEnabled" value="true" />
    <!-- データベースへのクエリー実行時のデフォルトのTimeout値（秒数）-->
    <add key="DefaultQueryTimeout" value="60" />
    <!-- Web Apiのパス (例: /ProjM/api/) -->
    <add key="ApiPath" value="/api/" />
    <!-- 使用するregion.configファイルのパス(%ROOT%はアプリケーションのルートディレクトリ) -->
    <add key="RegionConfigPath" value="%ROOT%\" />
    <!-- 現在のサーバーの配置場所。region.configのserver_locationに対応。ALL/HWIのいずれかを指定。 -->
    <add key="ServerLocation" value="HWI" />
    <!-- 自社のagent_cd -->
    <add key="OwnAgentCd" value="AGENT5" />
    <!-- 自社のsub_agent_cd -->
    <add key="OwnSubAgentCd" value="AGENT5" />
    <!-- ユーザーのパスワードの有効期限 -->
    <add key="PasswordEffectiveDays" value="180" />
    <!-- ユーザーのパスワードの長さの下限 -->
    <add key="PasswordLengthMin" value="8" />
    <!-- ユーザーのパスワードの長さの上限 -->
    <add key="PasswordLengthMax" value="15" />
    <!-- 管理者用ページでパスワードをリセットする際のデフォルトの一時パスワード -->
    <add key="DefaultTemporaryPwd" value="temp%2222" />
    <!-- Access Level=1のユーザーに適用される固定パスワード -->
    <add key="DefaultPwdForAccessLevel_1" value="hawaii" />
    <!-- Access Level=1の場合にカレンダーに表示しない時間枠 例：[09:00][14:30]-->
    <add key="HiddenBlocksForAccessLevel_1" value="[09:00]" />
    <!-- 認証トークンの有効期限（分単位） -->
    <add key="AuthTokenExpiration" value="5" />
    <!-- Customer Folderの物理パス -->
    <add key="CustomerFolderPath" value="C:\Development\Files\%REGIONCD%\" />
    <!-- httpsの使用  -->
    <add key="UseHttps" value="false" />
    <!-- フォトプランの「Sunset」枠で使う時間(church_time/church_blockや挙式時間はこれで入る。) -->
    <add key="SunsetBlockTime" value="17:00" />
    <!-- システムで入力可能な最初のWed Date -->
    <add key="MinWedDate" value="2015/10/01" />
    <!-- フォトプランでRQ受けになるリミットの日数 -->
    <add key="Photo_RQ_LimitDays" value="14" />
    <!-- フォトプランで必ずRQ受けになる場所(church_cd) -->
    <add key="Photo_RQ_Places" value="[TREE],[HALN]" />
    
    <!-- ユーザー会社名 -->
    <add key="CompanyName" value="Mauloa Demo" />
    <!-- ユーザーTEL-->
    <add key="CompanyTel" value="808-0000-0000" />
    <!-- ユーザーFAX-->
    <add key="CompanyFax" value="808-0000-0001" />
    <!-- ユーザー営業時間-->
    <add key="BusinessHours" value="9:00-17:00" />
  </appSettings>
  <!-- CustomerFolder画面のみ20MBまでアップロード可能にする。 -->
  <location path="Customers/Folder">
    <system.web>
      <httpRuntime executionTimeout="60" maxRequestLength="20480" />
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--
      requestPathInvalidCharactersのデフォルトは "\,*,%,:,&lt;,&gt;,&amp;"で、「\*%:<>&」の7文字がRequestのパスとしては不許可となる。
      ここでは「&」を許可したいので&amp;を省いて設定を上書きしている。
      (item_cdに＆を含むレコードが存在するため。)
    -->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" requestPathInvalidCharacters="\,*,%,:,&lt;,&gt;" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="GrapeCity.ActiveReports.Extensibility.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Diagnostics.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Chart.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Document.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Html.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Pdf.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Image.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/account/login" defaultUrl="/" protection="All" name=".ASPXAUTH_ProjM_test" path="/" slidingExpiration="true" timeout="10" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="/errorlast.html" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <!--<add namespace="Kendo.Mvc.UI" />-->
        <add namespace="CBAF" />
        <add namespace="MauloaDemo.Web" />
      </namespaces>
    </pages>
    <sessionState mode="StateServer" timeout="60" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <!-- Windows Azure Cache session state provider -->
    <!--
    <sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="projectm" dataCacheClientName="default" applicationName="AFCacheSessionState" />
      </providers>
    </sessionState>-->
    <!-- Windows Azure Cache output cache provider -->
    <!--Uncomment this section to use Windows Azure Cache for output cache-->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
    <!-- to localize -->
    <globalization culture="auto" uiCulture="auto" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
    <httpHandlers>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*.ar11" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ar11Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
    </httpHandlers>
    -->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      
      <!--
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="AsmxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ar11" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_ReportBinariesStreamer" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_RpxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_RdlxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ar11Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_WebCacheAccessHandler" resourceType="Unspecified" preCondition="integratedMode" />
      -->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <contexts />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<dataCacheClients>
    <dataCacheClient name="default">
      -->
  <!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster -->
  <!--
      <autoDiscover isEnabled="true" identifier="visualhawaii.cache.windows.net" />
      
      -->
  <!--Use this section to specify security settings for connecting to your cache. 
        This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
  <!--
        
    -->
  <!-- <localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" /> -->
  <!--
      
    -->
  <!--Use this section to specify security settings for connecting to your cache. -->
  <!--
      <securityProperties mode="Message" sslEnabled="false">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vdmlzdWFsaGF3YWlpOTcyMy1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0Ly9XUkFQdjAuOS8mb3duZXImRVZuOGVBRGIxNStpLzcxWHlYczFEN0RWUXhkeU9pQ0V6QXQxTXR2ZFozMD0maHR0cDovL3Zpc3VhbGhhd2FpaS5jYWNoZS53aW5kb3dzLm5ldC8=" />
      </securityProperties>
      -->
  <!--
      <securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="[Authentication Key]" />
      </securityProperties>
    -->
  <!--
    </dataCacheClient>
  </dataCacheClients>-->
  <ActiveReports11>
    <WebService reportsFolder="~/" assemblyFolder="~/" />
  </ActiveReports11>
</configuration>