/*
    Mastersエリア用のスタイル
*/

.search {
    margin: 8px;
    padding: 4px;
    background-color: white;
    border-radius: 6px;
}

.form-group input, .form-group textarea {
    width: 98%;
}

.form-group label.required {
    color: red;
}

.form-group .help-block {
    font-size:smaller;
    color:#888;
}


#editDiv {
    width: 580px;
}

.buttons {
    width: 95%;
    margin: 10px;
    padding: 8px;
    text-align: center;
}

.btn-save {
    width: 110px;
}

.btn-close{
    width: 80px;
    margin-left: 40px;
}

