@{
    ViewBag.Title = "Report";
}

@section head{
    <link href="@Url.Content("~/Areas/Reports/Content/MgmReport.css")" rel="stylesheet" type="text/css" />
}


<h3>Report</h3>

<p class="error_msg">@ViewBag.Error</p>