@using System.Configuration;
@using MauloaDemo.Models;
@using MauloaDemo.Web.ViewModels;
@{
    LoginUser user = ViewBag.CurrentLoginUser;
}
<div class="form-group">
    <label for="" class="w-1 control-label"></label>
    <div class="w-2">
        <input type="text" id="drpPhotoPlan"
               class="form-control input"
               data-role="dropdownlist"
               data-bind="source: PhotoPlans, value: CurrentPhotoPlan"
               data-template="photoplan_item"
               data-value-field="op_seq"
               data-text-field="text"
               style="width:96%;" />
        <script id="photoplan_item" type="text/x-kendo-template">
            #:text #
        </script>
    </div>

    <div class="w-1">
        <button type="button" class="btn btn-primary plan-add"
                data-bind="click: addPhotoPlan, visible:photoPlanAddVisible, enabled: photoPlanAddEnabled">
            Add
        </button>
        <button type="button" class="btn btn-warning" style="width:70px;display:none;"
                data-bind="click: removePhotoPlan, invisible:photoPlanAddVisible">
            Remove
        </button>
    </div>

    <label for="" class="w-1 control-label" data-bind="visible:isPhotoPlanStatusVisible">Status</label>
    <div class="w-1">
        <select class="form-control input"
                style="width:80px; "
                data-role="dropdownlist"
                data-value-field="value"
                data-text-field="text"
                data-value-primitive="true"
                data-bind="value: CurrentPhotoPlan.book_status, source:CurrentPhotoPlan.StatusList, visible:isPhotoPlanStatusVisible, disabled: isFinalized"></select>
    </div>

    <label class="w-1 control-label">Staff</label>
    <div class="w-2">
        <input type="text" name="Staff" required maxlength="50"
               class="form-control input-sm k-input k-textbox toupper tohankaku"
               style="width:100%;"
               data-bind="value: CurrentPhotoPlan.staff, disabled: photoPlanReadOnly" @*data-value-update="keyup"*@  />
    </div>

    <label class="w-1 control-label" data-bind="visible: isBranchStaffVisible">店舗担当者</label>
    <div class="w-2">
        <input type="text" name="Branch Staff" maxlength="50"
               class="branch_staff form-control input-sm k-input k-textbox toupper tohankaku"
               style="width:100%;"
               data-bind="value: CurrentPhotoPlan.branch_staff, disabled: photoPlanReadOnly, visible: isBranchStaffVisible" />
    </div>

    <div class="w-off-1 w-2">
        <button type="button" class="btn btn-danger save-button"
                data-bind="events: {click: onPhotoPlanSaveClick}, enabled: savePhotoPlanEnabled">
            SAVE
        </button>
    </div>
</div>

<div class="form-group">
    <label for="" class="w-1 control-label">Plan</label>
    <div class="w-9">
        <input type="text" class="form-control input-sm k-input k-textbox w100 " readonly
               data-bind="value: CurrentPhotoPlan.item_name_jpn, visible: isJapan" />
        <input type="text" class="form-control input-sm k-input k-textbox w100 " readonly
               data-bind="value: CurrentPhotoPlan.item_name, invisible: isJapan" />
    </div>
    <div class="w-2">
        <input type="text" class="form-control input-sm k-input k-textbox w100" readonly
               data-bind="value: CurrentPhotoPlan.item_cd" />
    </div>
</div>

<div class="form-group">
    <label for="" class="w-1 control-label">Date</label>
    <div class="w-2">
        <input type="text" class="form-control input-sm todate"
               maxlength="10" readonly
               style="width:100px;"
               data-role="datepicker"
               data-bind="value: CurrentPhotoPlan.req_wed_date" />
    </div>

    <label for="" class="w-1 control-label">Time</label>
    <div class="w-1">
        <input type="text" class="form-control input-sm k-input k-textbox totime"
               maxlength="5" readonly
               placeholder="hh:mm"
               data-bind="value: CurrentPhotoPlan.req_wed_time_s" />
    </div>

    <label for="txtPhotoSubAgent" class="w-2 control-label">Agent</label>
    <div class="w-2">
        <input type="text" id="txtPhotoSubAgent"
               maxlength="6"
               class="form-control input-sm select-subagent toupper tohankaku"
               style="width:90px;"
               data-bind="value: CurrentPhotoPlan.sub_agent_cd, enabled: isPhotoPlanAgentEnabled" />
    </div>

    <label for="txtPhotoInvAgent" class="w-1 control-label">Invoice</label>
    <div class="w-2">
        <input type="text" id="txtPhotoInvAgent"
               maxlength="6"
               class="form-control input-sm select-invagent toupper tohankaku"
               style="width:90px;"
               data-bind="value: CurrentPhotoPlan.inv_agent, enabled: isPhotoPlanAgentEnabled" />
    </div>

    <div class="w-3 created_by">
        <table>
            <tr>
                <td>Created: </td>
                <td>
                    <span data-bind="text: CurrentPhotoPlan.create_by"></span>
                    (<span data-bind="text: CurrentPhotoPlan.create_date_s"></span>)
                </td> 
            </tr>
            <tr>
                <td>Updated: </td>
                <td>
                    <span data-bind="text: CurrentPhotoPlan.last_person"></span>
                    (<span data-bind="text: CurrentPhotoPlan.update_date_s"></span>)
                </td> 
            </tr>
        </table>
    </div>
</div>

<div class="form-group">
    <label for="" class="w-1 control-label">Note</label>
    <div class="w-8">
        <textarea class="form-control input-sm k-input k-textbox w100 "
                  data-bind="value: CurrentPhotoPlan.note, enabled: isPhotoPlanAgentEnabled"></textarea>
    </div>

    <label for="" class="w-1 control-label">Price</label>
    <div class="w-2">
        <input type="text"
               data-role="numerictextbox"
               data-spinners="false"
               data-decimals="2"
               data-format="n2"
               maxlength="10"
               readonly
               class="numeric"
               style="width:100%;font-size:120%;"
               data-bind="value: CurrentPhotoPlan.amount" />
    </div>
</div>

@*<h4>Included Items</h4>*@
<div id="grdPhotoPlanItems"
     data-role="grid"
     data-auto-bind="true"
     data-bind="source: CurrentPhotoPlan.PlanItems, events: {dataBound: onPlanItemsDataBound}"
     data-sortable="true"
     data-resizable="true"
     data-selectable="true"
     data-scrollable="true"
     data-groupable="false"
     data-navigatable="false"
     data-height="240"
     @if (user.IsStaff()) { <text>
     data-columns="[  {field: 'item_type', title: 'Type', width: 50 }
                    , {field: 'item_cd', title: 'Code', width: 100 }
                    , {field: 'item_name', title: 'Name' }
                    , {field: 'quantity', title: 'Qty', width: 40, headerAttributes: ' class=\'col_numeric\'' }
                    , {field: 'BookStatus', title: 'Status', width: 70, headerAttributes: ' class=\'centered\''  }
                    , {field: 'vendor_cd' , title: 'Vendor' , width: 80 }
                    , {field: 'cfmd', title: 'Cfmd', width: 60, headerAttributes: ' class=\'centered\''  }
                    , {field: 'op_seq', title: ' ', width: 40}
                  ]"
     </text>      } else {   <text>
     data-columns="[  {field: 'item_type', title: 'Type', width: 50 }
                    , {field: 'item_cd', title: 'Code', width: 100 }
                    , {field: 'item_name', title: 'Name' }
                    , {field: 'quantity', title: 'Qty', width: 40, headerAttributes: ' class=\'col_numeric\'' }
                    , {field: 'BookStatus', title: 'Status', width: 70, headerAttributes: ' class=\'centered\''  }
                    , {field: 'op_seq', title: ' ', width: 40}
                  ]"
     </text>    }
     data-row-template="tpl_photoplan_row">
</div>

@* , template: '<a data-opseq=\'#=op_seq#\' class=\'btn btn-sm btn-default\' data-bind=\'click:onPlanItemEdit\'>Edit<\/a>' *@

<script id="tpl_photoplan_row" type="text/k-kendo-tmpl">
    <tr data-uid="#: uid #" class="#if (book_status=='Q'){# status-rq #}# #if (book_status=='K'){# status-ok #}# #if (book_status=='N'){# status-ng #}# #if (book_status=='X'){# status-cxlrq #}# #if (book_status=='C'){# status-cxl #}# ">
        <td>#: item_type #</td>
        <td>#: item_cd #</td>
        <td>#: App.L(item_name_jpn, item_name) #</td>
        <td class="col_numeric">#: quantity #</td>
        <td class="centered">#: BookStatus #</td>
    @if (user.IsStaff()) {
        <td>#: vendor_cd || '' #</td>
        <td class="centered">
            <input type="checkbox" data-bind='checked: cfmd' disabled />
        </td>
    }
        <td class="col_edit">
            <a data-opseq='#=op_seq#' class='btn btn-sm btn-default' data-bind='click:onPlanItemEdit'><span class='k-icon k-edit'></span></a>
        </td>
    </tr>
</script>


