.alertify,
.alertify-show,
.alertify-log {
	-webkit-transition: all 1000ms; /*cubic-bezier(0.175, 0.885, 0.320, 1.275);*/
	   -moz-transition: all 1000ms; /*cubic-bezier(0.175, 0.885, 0.320, 1.275);*/
	    -ms-transition: all 1000ms; /*cubic-bezier(0.175, 0.885, 0.320, 1.275);*/
	     -o-transition: all 1000ms; /*cubic-bezier(0.175, 0.885, 0.320, 1.275);*/
	        transition: all 1000ms; /*cubic-bezier(0.175, 0.885, 0.320, 1.275);*/ /* easeOutBack */
}
.alertify-hide {
	-webkit-transition: all 1000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/
	   -moz-transition: all 1000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/
	    -ms-transition: all 1000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/
	     -o-transition: all 1000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/
	        transition: all 1000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/ /* easeInBack */
}
.alertify-log-hide {
	-webkit-transition: all 2000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/
	   -moz-transition: all 2000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/
	    -ms-transition: all 2000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/
	     -o-transition: all 2000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/
	        transition: all 2000ms; /*cubic-bezier(0.600, -0.280, 0.735, 0.045);*/ /* easeInBack */
}
.alertify-cover {
    background-color:#aaa;
    opacity:0.6;
}

.alertify {
	position: fixed; z-index: 99999;
	top: 200px; left: 50%;
	width: 550px;
	margin-left: -275px;
	opacity: 1;
}
	.alertify-hidden {
		-webkit-transform: translate(0,-300px);
		   -moz-transform: translate(0,-300px);
		    -ms-transform: translate(0,-300px);
		     -o-transform: translate(0,-300px);
		        transform: translate(0,-300px);
		opacity: 0;
		display: none;
	}


.alertify-logs {
	position: fixed;
	z-index: 50000;
	top: 200px;
    left: 50%;
	width: 80%;
    margin-left: -40%;
}

	.alertify-log {
		display: block;
		margin-top: 10px;
        padding:26px;
		position: relative;
		left: 0;
		opacity: 0;
	}
    .alertify-log-show {
		left: 0;
		opacity: 1;
	}
    .alertify-log-hide {
		-webkit-transform: translate(0px, 0);
		   -moz-transform: translate(0px, 0);
		    -ms-transform: translate(0px, 0);
		     -o-transform: translate(0px, 0);
		        transform: translate(0px, 0);
		opacity: 0;
	}



@media only screen and (max-width: 680px) {
	.alertify,
	.alertify-logs {
		width: 80%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.alertify {
		left: 5%;
		margin: 0;
	}
}
