<?xml version="1.0" encoding="utf-8" ?>
<regions>
  
  <region region_cd="HWI" region_name_jpn="ハワイ" region_name="Hawaii" region_name_zh="夏威夷"
    server_location="HWI" SvrTimeZone="+9"
    region_group="HWI"
		region_tel="*******"
		TimeDiffFromUTC="-10"
         
    currency_format="#,0.00"
    currency_symbol="$"
    currency_cd="USD"
    payment_currency_format="0.00"
          
    dbname="TestHNL" dbserver="******.database.windows.net" dbuser="******" dbpwd="******"

    wedschedule_note="*国際電話または州外の電話からおかけの場合は市外局番808が必要です。"
    wedschedule_note_eng="Please dial the area code (808) first when you call from overseas or other states."
    open_hours="8:00-18:00"
  >
    
    <area area_cd="HNL" area_name_jpn="オアフ島/他島" area_name="Oahu/Other" default="True" area_name_zh="瓦胡岛/其他岛屿"
        emg_tel1=""
        emg_place="ホノルル"
    >
      <branch order="0" branch_cd="HNL" name="ホノルル店" />
    </area>
  </region>
  
</regions>