<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="httpAuthModule" type="System.Configuration.NameValueFileSectionHandler" />
    <!--<section name="ActiveReports11" type="GrapeCity.ActiveReports.Web.ActiveReportsSettingsSection" />-->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=mauloa.visualhawaii.com;Initial Catalog=MauloaDemo;Persist Security Info=True;User ID=****;Password=****" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="10000" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="IsTest" value="true" />
    <add key="LoggingEnabled" value="true" />

    <!-- 認証クッキーの有効期限(時間単位。2=2時間) -->
    <add key="AuthCookieExpirationHours" value="24" />
    <add key="AuthCookieName" value="WtbTube_test" />
    <add key="AuthCookieSecure" value="false" />

    <!-- Basic認証 (一般公開する前およびテストサイトはtrue) -->
    <add key="HttpAuthModuleEnabled" value="true" />

    <!-- DBへのクエリー時のデフォルトのTimeout値（秒数）-->
    <add key="DefaultQueryTimeout" value="60" />

    <!-- region.configファイルのパス(%ROOT%はアプリケーションのルートディレクトリ) -->
    <add key="RegionConfigPath" value="%ROOT%\..\MauloaDemo.Customer\" />

    <!-- 多言語対応を有効化するか否か。 -->
    <add key="EnableMultiLanguage" value="false" />

    <!-- IP Geolocationを使用するか否か。 -->
    <add key="GetGlobalIp" value="true" />

    <!-- IP Geolocation Dataの物理パス -->
    <add key="IpDataPath" value="C:\Development\Files\WtbTube\GeoIP.dat" />

    <!-- Item画像ファイル保存先の物理パス -->
    <add key="ItemPicturePath" value="C:\Development\Files\Photos" />

    <!-- Type画像ファイル保存先の物理パス -->
    <add key="TypePicturePath" value="C:\Development\Files\Photos\%REGIONCD%\%TYPE%\" />

    <!-- PDF項目のメニューを格納するフォルダの物理パス -->
    <add key="MenuFolderPath" value="C:\Development\Files\Menu\" />

    <!-- 現在のサーバーの配置場所。region.configのserver_locationに対応。ALL/HWI/MICのいずれかを指定。 -->
    <add key="ServerLocation" value="HWI" />

    <!-- httpsの使用  -->
    <add key="UseHttps" value="false" />

    <!-- デプロイ先のURL (空文字列もしくはURL。末尾に「/」を付けない事。) -->
    <add key="BaseURL" value="http://localhost:49840" />

    <!-- ログイン画面のパス(先頭に「/」を付ける事。) -->
    <add key="LoginPath" value="/login" />

    <!-- 初期表示でデフォルト選択する地域、エリア  -->
    <add key="DefaultRegion" value="HWI" />
    <add key="DefaultArea" value="HNL" />

    <!-- 初期表示でデフォルト選択する言語  -->
    <add key="DefaultLanguage" value="J" />

    <!-- 申込モード  -->
    <add key="ShoppingEnabled" value="true" />

    <!-- ペイジェント決済の設定  -->
    <add key="PaymentTestMode" value="true" />
    <add key="PaymentMerchantId" value="31761" />
    <add key="PaymentConnectId" value="test31761" />
    <add key="PaymentConnectPassword" value="2oZsn5RB9wDiYC" />
    <add key="PaymentTelegramVersion" value="1.0" />

    <!-- 価格取得用AgentCd  -->
    <add key="AgentCd" value="AGENT1" />

    <!-- 申込に使用するAgentCd, SubAgentCd -->
    <add key="BookingAgentCd" value="WEBAG" />
    <add key="BookingSubAgentCd" value="WEBAG" />

    <!-- カスタマーサービスの情報 -->
    <add key="CompanyName" value="Mauloa" />
    <add key="SiteName" value="Mauloa" />
    <add key="CustomerServiceTel" value="03-1111-1111" />
    <add key="CustomerServiceHour" value="11:00-18:00" />
    <add key="CompanyNameEng" value="Mauloa" />
    <add key="SiteNameEng" value="ONLINE SALES CUSTOMER SUPPORT" />
    <add key="CustomerServiceTelEng" value="03-1111-1111" />
    <add key="CustomerServiceHourEng" value="11:00-18:00 (Japan Standard Time)" />

    <!-- メンテナンス中画面表示切替ファイルパス(%ROOT%はアプリケーションのルートディレクトリ) -->
    <add key="MaintenanceFilePath" value="%ROOT%\..\MauloaDemo.Customer\" />

    <!-- メンテナンス中画面表示切替ファイル名  -->
    <add key="MaintenanceFileName" value="Maintenance.html" />

    <!-- 内部Apiのセキュリティトークン -->
    <add key="ApiSecurityToken" value="fdslk43jfds5L7KJK1DJKDz89DCX9C9D9bF99S5" />

    <!-- Eメール送信用設定(開発環境用 - NT6のIIS経由) -->
    <add key="SMTPServer" value="***********" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPEnableSSL" value="false" />
    <add key="SMTPUser" value="" />
    <add key="SMTPPass" value="" />

    <!-- RQがOKになった後の自動キャンセルまでのタイムリミット（単位=時間） -->
    <add key="NotPaidAutoCancelTimeLimit" value="48" />

    <!-- お問合せフォームからのメール送信元 -->
    <add key="ContactEmailFrom" value="contact-form@mauloa.com" />

    <!-- 決済機能メンテナンス期間 (日本時間で「yyyy/MM/dd HH:mm」の形式で指定) -->
    <add key="PaymentMaintenanceFrom" value="2015/08/06 01:00" />
    <add key="PaymentMaintenanceTo" value="2015/08/06 11:00" />
    <add key="MetaDescription_Home" value="『Mauloa』は、ウェディングの申込みを簡単・便利に行っていただけるよう、店舗に来店することなくいつでもご予約から決済まで完了できるサービスです。" />
    <add key="MetaKeywords_Home" value="海外,挙式,ウェディング,国内,リゾート,結婚式,Wedding,Resort,Chapels" />

    <!-- WebApiのセキュリティトークン -->
    <add key="MauloaApiSecurityToken" value="*******" />
    <add key="MauloaApiBasicAuthUser" value="*******" />
    <add key="MauloaApiBasicAuthPwd" value="*******" />

    <!-- watabe.com WebApiのURL -->
    <add key="MauloaApiURL" value="https://localhost:44300/api/" />

    <!-- 画像配信元CDNのベースURL -->
    <add key="ImageCDNBaseURL" value="" />

    <!-- CDNがない場合の画像URL -->
    <add key="ImageServerURL" value="" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" executionTimeout="60" enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="GrapeCity.ActiveReports.Extensibility.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Diagnostics.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Chart.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Document.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Html.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Pdf.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Image.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <customErrors mode="Off" defaultRedirect="/SystemError.html" />

    <!-- 全てのCookieにHttpOnlyとSecure属性を付加する。(開発環境ではコメントアウトする事) -->
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true"/>-->
    <!-- 認証クッキーの復号化のために複数サーバーで共通のキーを使う -->
    <machineKey decryptionKey="61BF616E16EB0E3CA5B6297435FC9A460A3653B629BF9ED7" validationKey="B74C1AD3C57B369F33EE4F4A3A606439E08F909E8B7BCD46AC0AE16A6834478706A485DA49C80E4C3052DFF2886F69E99CCFD9C237EE7AFA7F38026ADE552215" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <sessionState mode="StateServer" timeout="60" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>

    <!--<caching>
      <outputCache defaultProvider="MyRedisOutputCache">
        <providers>
          -->
    <!-- Either use 'connectionString' and provide all parameters as string OR use 'host','port','accessKey','ssl','connectionTimeoutInMilliseconds' and 'operationTimeoutInMilliseconds'. -->
    <!--
          -->
    <!-- 'databaseId' and 'applicationName' can be used with both options. -->
    <!--
          -->
    <!--
          <add name="MyRedisOutputCache" 
            host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            databaseId = "0" [number]
            applicationName = "" [String]
            connectionTimeoutInMilliseconds = "5000" [number]
            operationTimeoutInMilliseconds = "1000" [number]
            connectionString = "<Valid StackExchange.Redis connection string>" [String]
            loggingClassName = "<Assembly qualified class name that contains logging method specified below>" [String]
            loggingMethodName = "<Logging method should be defined in loggingClass. It should be public, static, does not take any parameters and should have a return type of System.IO.TextWriter.>" [String]
          />
          -->
    <!--
          <add name="MyRedisOutputCache"
               type="Microsoft.Web.Redis.RedisOutputCacheProvider"
               host="watabecom.redis.cache.windows.net"
               port="6380"
               accessKey="3W+nXb6tRrnoMDISqW7M64PaqeSrTYvgBxtF/h9JXqI="
               ssl="true" />
        </providers>
      </outputCache>
    </caching>-->

    <!-- ブラウザの言語設定（Languageヘッダ）によってサーバー側のカルチャーが影響されない様にする -->
    <globalization culture="en" uiCulture="en-US" />

    <httpHandlers>
      <!--
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*.ar11" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ar11Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.8705.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      -->
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add type="HttpAuthModule.HttpAuthModule" name="HttpAuthModule" />
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <!-- ファイルアペンダ(ローテーションあり) -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs\application.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %5p (%C:%M:%L) - %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <httpAuthModule>
    <!-- If HttpAuthModule has problems, please contact me, https://github.com/nabehiro/HttpAuthModule -->
    <!--
      [required] Http Authentication Mode.
      - Basic: Basic authentication
      - Digest: Digest authentication
      - None: No authentication -->
    <add key="AuthMode" value="Basic" />
    <!-- [optional] default is "SecureZone" -->
    <add key="Realm" value="SecureZone" />
    <!-- [required if http auth on] user1:pass1;user2:pass2;... -->
    <add key="Credentials" value="wtbtest:******;" />
    <!-- [optional] Digest Auth Nonce Valid Duration Minutes. default is 120 -->
    <add key="DigestNonceValidDuration" value="120" />
    <!-- [required if digest auth on] Digest Auth Nonce Salt -->
    <add key="DigestNonceSalt" value="******" />
    <!--
      [optional] If set, specified IPs are only allowed: otherwize All IPs are allowed.
      value is joined IP Range Combination as following.
      - 10.23.0.0/24
      - 127.0.0.1 (equals to 127.0.0.1/32)
      - 2001:0db8:bd05:01d2:288a:1fc0:0001:0000/16
      - ::1 (equals to ::1/128)
      
      e.g) 127.0.0.1;182.249.0.0/16;182.248.112.128/26;::1 -->
    <!-- <add key="RestrictIPAddresses" value="127.0.0.1;::1"/> -->
    <!-- [optional] If set, specified pattern url requests are skipped by http auth and IP Restriction. -->
    <!-- <add key="IgnorePathRegex" value="^/Home/Ignore$|^/Ignore\.aspx$|^/Content/"/> -->
    <add key="IgnorePathRegex" value="/api/" />
    <!-- 
      [optional] If set,specified IPs requests skip http auth Restriction.
      value format is same as 'RestrictIPAddresses'
    -->
    <add key="IgnoreIPAddresses" value="127.0.0.1;::1" />
  </httpAuthModule>

  <!--
  <ActiveReports11>
    <WebService reportsFolder="~/" assemblyFolder="~/" />
  </ActiveReports11>
  -->
</configuration>