@{
    ViewBag.Title = "Accounting";
}

<style scoped>
    .menu_box {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>

<h3>@ViewBag.Title</h3>

<div class="menu_box clearfix">
    <ul>
        <li> <a class="btn btn-default notdone">Receivable</a> </li>
        <li> <a class="btn btn-default notdone">Payable</a> </li>
    </ul>
</div>