
<select 
    class="select-area"
    data-role="combobox"
    data-text-field="area_cd"
    data-value-field="area_cd"
    data-value-primitive="true"
    data-auto-bind="true"
    data-filter="startswith"
    data-delay="100"

    @*id="drpArea"*@
    @*required*@
    @*data-val="true"*@
    @*data-val-required="Please select an area."*@
    @*data-required-msg="Please select an area."*@
    @*data-bind="value: Customer.area_cd"*@

    style="width: 100px;" 
></select>

@*<span class="field-validation-valid" data-valmsg-for="Customer.area_cd" data-valmsg-replace="true"></span>*@

